<!-- <button class="btn btn-primary" (click)="saveActivity()">Add Activity</button> -->
<ngx-charts-heat-map
    *ngIf="calendarData != null || calendarData != undefined"
    class="chart-container"
    [view]="view"
    [scheme]="colorScheme"
    [results]="calendarData"
    [animations]="animations"
    [legend]="showLegend"
    [gradient]="gradient"
    (legendLabelClick)="onLegendLabelClick($event)"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [showXAxisLabel]="false"
    [showYAxisLabel]="false"
    [xAxisTickFormatting]="calendarAxisTickFormatting"
    [tooltipText]="calendarTooltipText"
    [innerPadding]="innerPadding"
    [tooltipDisabled]="tooltipDisabled"
    (select)="select($event)">
</ngx-charts-heat-map>
<div *ngIf="calendarData != null || calendarData == undefined">
    <p>No Activity</p>
</div>