.badge {
    font-size: 12px;
    padding: 5px;
    background-color:rgba(45, 146, 230, 0.95);
    margin: 2.5px;
}

.custom-mat-card {
    padding: 10px;
    margin-right: -10px;
    margin-top: 10px;
    /* margin-left: -10px; */
}

.tag-description p {
    font-size: 11px;
    color: rgb(116, 116, 116);
    font-family: 'Lato', sans-serif;
    margin-left: 5px;
    margin-top: 5px;
}

.open-issues {
    margin-top: -10px;
    margin-bottom: -10px;
}

.open-issues p {
    display: inline-block;
    font-size: 11px;
    color: rgb(116, 116, 116);
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-left: 5px;
}

.open-issues .count {
    display: inline-block;
    font-size: 10px;
    color: rgb(116, 116, 116);
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    border-right: 1px solid #ff723ab2;
    padding-right: 10px;
}

.open-issues .dev-count {
    display: inline-block;
    font-size: 10px;
    color: rgb(116, 116, 116);
    font-weight: 600;
    padding-left: 5px;
}