<!-- Main Content -->
<div class="container">
  <div class="row">
    <div>
      <div id="newsfeed-items-grid">

        <!-- <div class="ui-block">
          <div class="news-feed-form">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active inline-items" data-toggle="tab" href="#home-1" role="tab" aria-expanded="true">

                  <span class="fa fa-pencil"></span>
                  <span>Status</span>
                </a>
              </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
                <form #feedForm="ngForm">

                  <div class="form-group with-icon label-floating is-empty">
                    <span>{{ timeStamp | timeAgo }}</span>
                    <textarea class="form-control" name="feedBody" [(ngModel)]="feedBody" style="margin-left: -20px;"
                      placeholder="Share what you are thinking here..."></textarea>
                  </div>
                  <div class="add-options-message" style="height: 100px !important;">
                    <a class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="ADD PHOTOS">
                      <svg class="olymp-camera-icon" data-toggle="modal" data-target="#update-header-photo">
                        <use xlink:href="icons/icons.svg#olymp-camera-icon"></use>
                      </svg>
                    </a>
                    <a class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="TAG YOUR FRIENDS">
                      <svg class="olymp-computer-icon">
                        <use xlink:href="icons/icons.svg#olymp-computer-icon"></use>
                      </svg>
                    </a>

                    <a class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="ADD LOCATION">
                      <svg class="olymp-small-pin-icon">
                        <use xlink:href="icons/icons.svg#olymp-small-pin-icon"></use>
                      </svg>
                    </a>

                    <button [disabled]="feedBody == ''" (click)="postFeed()" class="btn btn-primary btn-sm-2">Post
                      Status</button>
                  </div>

                </form>
              </div>

            </div>
          </div>
        </div> -->

        <post-feed-box [currentUser]="currentUser"></post-feed-box>
        <div *ngFor="let feed of feedArray;" class="ui-block">
          <article class="hentry post">

            <div class="post__author author vcard inline-items">
              <img src="{{ userService?.currentUser?.avatar }}" onError="this.src='https://d2x5ku95bkycr3.cloudfront.net/App_Themes/Common/images/profile/0_200.png';"
                alt="author">

              <div class="author-date">
                <a class="h6 post__author-name fn">{{ feed?.user?.username }}</a>
                <div class="post__date">
                  <time class="published">
                    {{ feed?.timeStamp | timeAgo}}
                  </time>
                </div>
              </div>

              <div class="more">
                <span class="fa fa-ellipsis-h"></span>
                <ul class="more-dropdown">
                  <li>
                    <a>Edit Post</a>
                  </li>
                  <li>
                    <a (click)="deletePost(feed)">Delete Post</a>
                  </li>
                </ul>
              </div>

            </div>

            <p>{{ feed?.feedBody }}</p>
            <img src="{{ feed?.feedImage }}" style="height: 280px; width: 100%;" alt="">
            
            <div class="post-additional-info inline-items">

              <a class="post-add-icon inline-items">
                <span (click)="likeFeed(feed)" class="fa fa-thumbs-up"></span>
                <span>{{ feed?.like?.length }}</span>
              </a>

              <ul class="friends-harmonic">
                <li *ngFor="let like of feed?.like;">
                  <a>
                    <img style="margin-top: -6px;" src="{{ like?.liker?.avatar }}" alt="friend">
                  </a>
                </li>
              </ul>

              <div class="names-people-likes" [innerHTML]="getLikerNameAndCount(feed)">
              </div>


              <div class="comments-shared">
                <a class="post-add-icon inline-items">
                  <span class="fa fa-comment"></span>
                  <span>{{ feed?.comment?.length }}</span>
                </a>

                <a class="post-add-icon inline-items">
                  <span class="fa fa-share"></span>
                  <span></span>
                </a>
              </div>
            </div>
          </article>

          <ul class="comments-list">
            <li *ngFor="let comment of feed.comment; let k = index;">
              <div class="post__author author vcard inline-items">
                <img src="{{ comment?.commentor?.avatar }}" alt="author">

                <div class="author-date">
                  <a class="h6 post__author-name fn">{{ comment?.commentor?.username }}</a>
                  <div class="post__date" style="font-size: 11px;">
                    <time class="published">
                      {{ comment?.timeStamp | timeAgo }}
                    </time>
                  </div>
                </div>

                <div class="more">
                  <span class="fa fa-ellipsis-h"></span>
                  <ul class="more-dropdown">
                    <li style="padding: 2px; border-bottom: none; background-color: white;">
                      <a (click)="deleteComment(feed, k)">Delete Comment</a>
                    </li>
                  </ul>
                </div>

              </div>

              <p style="margin-left: 45px;">{{ comment.commentBody }}</p>
            </li>
          </ul>
          <form class="comment-form inline-items">

            <div class="post__author author vcard inline-items">
              <img src="{{ userService?.currentUser?.avatar }}" alt="author">

              <div class="form-group with-icon-right ">
                <textarea class="form-control" name="comment-box" [(ngModel)]="commentBody" (keydown)="postComment(feed, $event)"
                  placeholder="Write a comment..."></textarea>
              </div>
            </div>

          </form>

        </div>
        <!-- Main feed finishes here -->

      </div>

    </div>

    <!-- ... end Main Content -->

  </div>
</div>