<!-- Main Content -->
<div class="container">
  <div class="row">
    <div>
      <div id="newsfeed-items-grid">

        <div class="ui-block">
          <div class="news-feed-form">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active inline-items" data-toggle="tab" href="#home-1" role="tab" aria-expanded="true">

                  <span class="fa fa-pencil"></span>
                  <span>Status</span>
                </a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
                <form #feedForm="ngForm">
                  <!-- <div class="author-thumb">
                        <img src="../../assets/img/author-page.jpg" alt="author">
                      </div> -->
                  <div class="form-group with-icon label-floating is-empty">
                    <span>{{ timeStamp | timeAgo }}</span>
                    <textarea class="form-control" name="feedBody" [(ngModel)]="feedBody" style="margin-left: -20px;"
                      placeholder="Share what you are thinking here..."></textarea>
                  </div>
                  <div class="add-options-message" style="height: 100px !important;">
                    <a class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="ADD PHOTOS">
                      <svg class="olymp-camera-icon" data-toggle="modal" data-target="#update-header-photo">
                        <use xlink:href="icons/icons.svg#olymp-camera-icon"></use>
                      </svg>
                    </a>
                    <a class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="TAG YOUR FRIENDS">
                      <svg class="olymp-computer-icon">
                        <use xlink:href="icons/icons.svg#olymp-computer-icon"></use>
                      </svg>
                    </a>

                    <a class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="ADD LOCATION">
                      <svg class="olymp-small-pin-icon">
                        <use xlink:href="icons/icons.svg#olymp-small-pin-icon"></use>
                      </svg>
                    </a>

                    <button [disabled]="feedBody == ''" (click)="postFeed()" class="btn btn-primary btn-sm-2">Post
                      Status</button>
                  </div>

                </form>
              </div>

            </div>
          </div>
        </div>

        <div *ngFor="let feed of feedArray;" class="ui-block">
          <article class="hentry post">

            <div class="post__author author vcard inline-items">
              <img src="{{ userService?.currentUser?.avatar }}" onError="this.src='https://d2x5ku95bkycr3.cloudfront.net/App_Themes/Common/images/profile/0_200.png';"
                alt="author">

              <div class="author-date">
                <a class="h6 post__author-name fn">{{ feed?.user?.username }}</a>
                <div class="post__date">
                  <time class="published">
                    {{ feed?.timeStamp | timeAgo}}
                  </time>
                </div>
              </div>

              <div class="more">
                <span class="fa fa-ellipsis-h"></span>
                <ul class="more-dropdown">
                  <li>
                    <a>Edit Post</a>
                  </li>
                  <li>
                    <a>Delete Post</a>
                  </li>
                </ul>
              </div>

            </div>

            <p>{{ feed?.feedBody }}</p>

            <div class="post-additional-info inline-items">

              <a class="post-add-icon inline-items">
                <span (click)="likeFeed(feed)" class="fa fa-thumbs-up"></span>
                <span>{{ feed?.like?.length }}</span>
              </a>

              <ul class="friends-harmonic">
                <li *ngFor="let like of feed?.like;">
                  <a>
                    <img style="margin-top: -6px;" src="{{ like?.liker?.avatar }}" alt="friend">
                  </a>
                </li>
              </ul>

              <div class="names-people-likes">
                <a>Jenny</a>,
                <a>Robert</a> and
                <br>6 more liked this
              </div>


              <div class="comments-shared">
                <a class="post-add-icon inline-items">
                  <span class="fa fa-comment"></span>
                  <span>17</span>
                </a>

                <a class="post-add-icon inline-items">
                  <span class="fa fa-share"></span>
                  <span></span>
                </a>
              </div>


            </div>


          </article>
          <ul class="comments-list">
            <li>
              <div class="post__author author vcard inline-items">
                <img src="../../assets/img/avatar10-sm.jpg" alt="author">

                <div class="author-date">
                  <a class="h6 post__author-name fn">Elaine Dreyfuss</a>
                  <div class="post__date">
                    <time class="published" datetime="2017-03-24T18:18">
                      5 mins ago
                    </time>
                  </div>
                </div>

                <a class="more">
                  <svg class="olymp-three-dots-icon">
                    <use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use>
                  </svg>
                </a>

              </div>

              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>
            </li>
          </ul>

          <!-- <a class="more-comments">View more comments
            <span>+</span>
          </a> -->
          <form class="comment-form inline-items">

            <div class="post__author author vcard inline-items">
              <img src="{{ userService?.currentUser?.avatar }}" alt="author">

              <div class="form-group with-icon-right ">
                <textarea class="form-control" name="comment-box" [(ngModel)]="commentBody" (keyup.enter)="postComment(feed)" placeholder="Write a comment..."></textarea>
              </div>
            </div>

          </form>

        </div>

        <div class="ui-block">
          <article class="hentry post">

            <div class="post__author author vcard inline-items">
              <img src="../../assets/img/author-page.jpg" alt="author">

              <div class="author-date">
                <a class="h6 post__author-name fn" href="02-ProfilePage.html">Amrit Singh</a>
                <div class="post__date">
                  <time class="published" datetime="2017-03-24T18:18">
                    2 hours ago
                  </time>
                </div>
              </div>

              <div class="more">
                <svg class="olymp-three-dots-icon">
                  <use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use>
                </svg>
                <ul class="more-dropdown">
                  <li>
                    <a>Edit Post</a>
                  </li>
                  <li>
                    <a>Delete Post</a>
                  </li>
                  <li>
                    <a>Turn Off Notifications</a>
                  </li>
                  <li>
                    <a>Select as Featured</a>
                  </li>
                </ul>
              </div>

            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et
              dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris consequat.
            </p>

            <div class="post-additional-info inline-items">

              <a class="post-add-icon inline-items">
                <svg class="olymp-heart-icon">
                  <use xlink:href="icons/icons.svg#olymp-heart-icon"></use>
                </svg>
                <span>36</span>
              </a>

              <ul class="friends-harmonic">
                <li>
                  <a>
                    <img src="../../assets/img/friend-harmonic7.jpg" alt="friend">
                  </a>
                </li>
                <li>
                  <a>
                    <img src="../../assets/img/friend-harmonic8.jpg" alt="friend">
                  </a>
                </li>
                <li>
                  <a>
                    <img src="../../assets/img/friend-harmonic9.jpg" alt="friend">
                  </a>
                </li>
                <li>
                  <a>
                    <img src="../../assets/img/friend-harmonic10.jpg" alt="friend">
                  </a>
                </li>
                <li>
                  <a>
                    <img src="../../assets/img/friend-harmonic11.jpg" alt="friend">
                  </a>
                </li>
              </ul>

              <div class="names-people-likes">
                <a>You</a>,
                <a>Elaine</a> and
                <br>34 more liked this
              </div>


              <div class="comments-shared">
                <a class="post-add-icon inline-items">
                  <svg class="olymp-speech-balloon-icon">
                    <use xlink:href="icons/icons.svg#olymp-speech-balloon-icon"></use>
                  </svg>
                  <span>17</span>
                </a>

                <a class="post-add-icon inline-items">
                  <svg class="olymp-share-icon">
                    <use xlink:href="icons/icons.svg#olymp-share-icon"></use>
                  </svg>
                  <span>24</span>
                </a>
              </div>


            </div>

          </article>

          <ul class="comments-list">
            <li>
              <div class="post__author author vcard inline-items">
                <img src="../../assets/img/avatar10-sm.jpg" alt="author">

                <div class="author-date">
                  <a class="h6 post__author-name fn">Elaine Dreyfuss</a>
                  <div class="post__date">
                    <time class="published" datetime="2017-03-24T18:18">
                      5 mins ago
                    </time>
                  </div>
                </div>

                <a class="more">
                  <svg class="olymp-three-dots-icon">
                    <use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use>
                  </svg>
                </a>

              </div>

              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>

              <a class="post-add-icon inline-items">
                <svg class="olymp-heart-icon">
                  <use xlink:href="icons/icons.svg#olymp-heart-icon"></use>
                </svg>
                <span>8</span>
              </a>
              <a class="reply">Reply</a>
            </li>
            <li class="has-children">
              <div class="post__author author vcard inline-items">
                <img src="../../assets/img/avatar5-sm.jpg" alt="author">

                <div class="author-date">
                  <a class="h6 post__author-name fn">Green Goo Rock</a>
                  <div class="post__date">
                    <time class="published" datetime="2017-03-24T18:18">
                      1 hour ago
                    </time>
                  </div>
                </div>

                <a class="more">
                  <svg class="olymp-three-dots-icon">
                    <use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use>
                  </svg>
                </a>

              </div>

              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugiten, sed quia consequuntur
                magni dolores
                eos qui ratione voluptatem sequi en lod nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                dolor
                sit amet, consectetur adipisci velit en lorem ipsum der.
              </p>

              <a class="post-add-icon inline-items">
                <svg class="olymp-heart-icon">
                  <use xlink:href="icons/icons.svg#olymp-heart-icon"></use>
                </svg>
                <span>5</span>
              </a>
              <a class="reply">Reply</a>

              <ul class="children">
                <li>
                  <div class="post__author author vcard inline-items">
                    <img src="../../assets/img/avatar8-sm.jpg" alt="author">

                    <div class="author-date">
                      <a class="h6 post__author-name fn">Diana Jameson</a>
                      <div class="post__date">
                        <time class="published" datetime="2017-03-24T18:18">
                          39 mins ago
                        </time>
                      </div>
                    </div>

                    <a class="more">
                      <svg class="olymp-three-dots-icon">
                        <use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use>
                      </svg>
                    </a>

                  </div>

                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.</p>

                  <a class="post-add-icon inline-items">
                    <svg class="olymp-heart-icon">
                      <use xlink:href="icons/icons.svg#olymp-heart-icon"></use>
                    </svg>
                    <span>2</span>
                  </a>
                  <a class="reply">Reply</a>
                </li>
                <li>
                  <div class="post__author author vcard inline-items">
                    <img src="../../assets/img/avatar2-sm.jpg" alt="author">

                    <div class="author-date">
                      <a class="h6 post__author-name fn">Nicholas Grisom</a>
                      <div class="post__date">
                        <time class="published" datetime="2017-03-24T18:18">
                          24 mins ago
                        </time>
                      </div>
                    </div>

                    <a class="more">
                      <svg class="olymp-three-dots-icon">
                        <use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use>
                      </svg>
                    </a>

                  </div>

                  <p>Excepteur sint occaecat cupidatat non proident.</p>

                  <a class="post-add-icon inline-items">
                    <svg class="olymp-heart-icon">
                      <use xlink:href="icons/icons.svg#olymp-heart-icon"></use>
                    </svg>
                    <span>0</span>
                  </a>
                  <a class="reply">Reply</a>

                </li>
              </ul>

            </li>



            <li>
              <div class="post__author author vcard inline-items">
                <img src="../../assets/img/avatar4-sm.jpg" alt="author">

                <div class="author-date">
                  <a class="h6 post__author-name fn">Chris Greyson</a>
                  <div class="post__date">
                    <time class="published" datetime="2017-03-24T18:18">
                      1 hour ago
                    </time>
                  </div>
                </div>

                <a class="more">
                  <svg class="olymp-three-dots-icon">
                    <use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use>
                  </svg>
                </a>

              </div>

              <p>Dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia
                deserunt mollit.
              </p>

              <a class="post-add-icon inline-items">
                <svg class="olymp-heart-icon">
                  <use xlink:href="icons/icons.svg#olymp-heart-icon"></use>
                </svg>
                <span>7</span>
              </a>
              <a class="reply">Reply</a>

            </li>
          </ul>

          <a class="more-comments">View more comments
            <span>+</span>
          </a>
          <form class="comment-form inline-items">

            <div class="post__author author vcard inline-items">
              <img src="../../assets/img/author-page.jpg" alt="author">

              <div class="form-group with-icon-right ">
                <textarea class="form-control" placeholder=""></textarea>
                <div class="add-options-message">
                  <a class="options-message" data-toggle="modal" data-target="#update-header-photo">
                    <svg class="olymp-camera-icon">
                      <use xlink:href="icons/icons.svg#olymp-camera-icon"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>

          </form>
        </div>

        <div class="ui-block">
          <article class="hentry post has-post-thumbnail shared-photo">

            <div class="post__author author vcard inline-items">
              <img src="../../assets/img/author-page.jpg" alt="author">

              <div class="author-date">
                <a class="h6 post__author-name fn" href="02-ProfilePage.html">Amrit Singh</a> shared
                <a>Diana Jameson</a>’s
                <a>photo</a>
                <div class="post__date">
                  <time class="published" datetime="2017-03-24T18:18">
                    7 hours ago
                  </time>
                </div>
              </div>

              <div class="more">
                <svg class="olymp-three-dots-icon">
                  <use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use>
                </svg>
                <ul class="more-dropdown">
                  <li>
                    <a>Edit Post</a>
                  </li>
                  <li>
                    <a>Delete Post</a>
                  </li>
                  <li>
                    <a>Turn Off Notifications</a>
                  </li>
                  <li>
                    <a>Select as Featured</a>
                  </li>
                </ul>
              </div>

            </div>

            <p>Hi! Everyone should check out these amazing photographs that my friend shot the past week. Here’s one of
              them...leave
              a kind comment!</p>

            <div class="post-thumb">
              <img src="../../assets/img/post-photo6.jpg" alt="photo">
            </div>

            <ul class="children single-children">
              <li>
                <div class="post__author author vcard inline-items">
                  <img src="../../assets/img/avatar8-sm.jpg" alt="author">
                  <div class="author-date">
                    <a class="h6 post__author-name fn">Diana Jameson</a>
                    <div class="post__date">
                      <time class="published" datetime="2017-03-24T18:18">
                        16 hours ago
                      </time>
                    </div>
                  </div>
                </div>

                <p>Here’s the first photo of our incredible photoshoot from yesterday. If you like it please say so and
                  tel
                  me what you wanna see next!</p>
              </li>
            </ul>

            <div class="post-additional-info inline-items">

              <a class="post-add-icon inline-items">
                <svg class="olymp-heart-icon">
                  <use xlink:href="icons/icons.svg#olymp-heart-icon"></use>
                </svg>
                <span>15</span>
              </a>

              <ul class="friends-harmonic">
                <li>
                  <a>
                    <img src="../../assets/img/friend-harmonic5.jpg" alt="friend">
                  </a>
                </li>
                <li>
                  <a>
                    <img src="../../assets/img/friend-harmonic10.jpg" alt="friend">
                  </a>
                </li>
                <li>
                  <a>
                    <img src="../../assets/img/friend-harmonic7.jpg" alt="friend">
                  </a>
                </li>
                <li>
                  <a>
                    <img src="../../assets/img/friend-harmonic8.jpg" alt="friend">
                  </a>
                </li>
                <li>
                  <a>
                    <img src="../../assets/img/friend-harmonic2.jpg" alt="friend">
                  </a>
                </li>
              </ul>

              <div class="names-people-likes">
                <a>Diana</a>,
                <a>Nicholas</a> and
                <br>13 more liked this
              </div>

              <div class="comments-shared">
                <a class="post-add-icon inline-items">
                  <svg class="olymp-speech-balloon-icon">
                    <use xlink:href="icons/icons.svg#olymp-speech-balloon-icon"></use>
                  </svg>
                  <span>0</span>
                </a>

                <a class="post-add-icon inline-items">
                  <svg class="olymp-share-icon">
                    <use xlink:href="icons/icons.svg#olymp-share-icon"></use>
                  </svg>
                  <span>16</span>
                </a>
              </div>

            </div>

          </article>
        </div>

      </div>

      <a id="load-more-button" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid">
        <svg class="olymp-three-dots-icon">
          <use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use>
        </svg>
      </a>
    </div>

    <!-- ... end Main Content -->

  </div>
</div>