<div class="profile-section">
  <div class="row">
    <div class="col-lg-5 col-md-5 ">
      <ul class="profile-menu">
        <li>
          <a [routerLink]="['timeline']" [routerLinkActive]="['active']">Timeline</a>
        </li>
        <li>
          <a [routerLink]="['work-experience']" [routerLinkActive]="['active']">Work Experience</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-5 ml-auto col-md-5">
      <ul class="profile-menu">
        <li>
          <a [routerLink]="['education']" [routerLinkActive]="['active']">Education</a>
        </li>
        <li>
          <a [routerLink]="['links']" [routerLinkActive]="['active']">Links</a>
        </li>
      </ul>
    </div>
  </div>
</div>