<!-- <div #gmap id="map-canvas" style="width:100%;height:400px"></div>
<div class="col-md-3 col-sm-12 col-xs-12">
  <button (click)="setMapType('terrain')" class="btn btn-primary">Terrain</button>
  <button (click)="setMapType('satellite')" class="btn btn-danger">Satellite</button>
  <button (click)="setMapType('roadmap')" class="btn btn-warning">Road Map</button>
</div>
<button [disabled]="isTracking" class="btn btn-primary" (click)="findMe()">Find me</button>
<button class="btn btn-primary" (click)="trackMe()">Track me</button>

<div class='pin'></div>
<div class='pulse'></div> -->
<!-- <div class="map-container">
  <div class="map">
    <agm-map [latitude]="43.6486151" [zoom]="12" [longitude]="-79.72776199999998">
      <agm-marker class="avatar" [iconUrl]="gravatar" [latitude]="43.65192589999999" [longitude]="-79.73264919999997"></agm-marker>
      <agm-marker class="avatar" [iconUrl]="icon" [latitude]="43.65192589999999" [longitude]="-79.73264919999997"></agm-marker>
      <agm-circle [latitude]="43.65192589999999" [longitude]="-79.73264919999997" [radius]="5000" [fillColor]="'rgba(45, 146, 230, 1.00)'"
        [circleDraggable]="false" [editable]="false"></agm-circle>
    </agm-map>
  </div>

  <div class="sidenav">
    <div class="form-group">
      <input class="form-control search-box box-shadow" id="pwd" placeholder="Search People, Skills or anything that makes sense">
    </div>
    <div class="card info-card box-shadow">
      <img style="border-radius: 4px;" src="../../assets/img/devfinder-portal.jpg" alt="">
    </div>
    <div class="card result-container">
      <h5 class="results-text">Results: 10 of 20</h5>
      <result-card></result-card>
    </div>
  </div>
</div> -->
<navbar></navbar>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="left-sidebar">
        <ul>
          <li class="home active-ul-li">
            <a>Home</a>
          </li>
          <li>
            DevFinder Portal
            <ol>
              <li class="active-ol-li"><a>Tags</a></li>
              <li><a>Developers</a></li>
            </ol>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="main-content-container">
        <div class="title-bar">
          <p class="title">Top Issues</p>
          <button class="btnc btnc-square btnc-sm btnc-filled-orange">Open Issue</button>
        </div>
      </div>
    </div>
  </div>
</div>