<div #gmap style="width:100%;height:400px"></div>
<div class="col-md-3 col-sm-12 col-xs-12">
  <button (click)="setMapType('terrain')" class="btn btn-primary">Terrain</button>
  <button (click)="setMapType('satellite')" class="btn btn-danger">Satellite</button>
  <button (click)="setMapType('roadmap')" class="btn btn-warning">Road Map</button>
</div>
<button [disabled]="isTracking" class="btn btn-primary" (click)="findMe()">Find me</button>
<button class="btn btn-primary" (click)="trackMe()">Track me</button>