.edit-profile-intro-icon :hover {
    cursor: pointer;
    opacity: 50%;
    color: rgb(99, 99, 99);
}

.edit-profile-intro-icon {
    float: right;
}

.bg-github {
    background-color: #189635;
}

.btn-save {
    float: right;
}

.save-icon {
    margin-bottom: 5px;
}