<div class="title-bar">
  <p class="title">Developers</p><br>
  <p class="description">Find people with a common interest from all around the globe or in your demograph. Meet,
    Network, Learn <br> or get your problem solved for just a price of a cup of coffee.</p>
</div>
<br>
<br>
<br>
<hr>
<div class="developers-wrapper">
  <div class="grid-developers">
    <div class="row">
      <div class="col-lg-3">
        <devfinder-developer></devfinder-developer>
      </div>
      <div class="col-lg-3">

      </div>
      <div class="col-lg-3">

      </div>
      <div class="col-lg-3">

      </div>
    </div>
  </div>
</div>