<!-- Right Sidebar -->
<div class="container">
  <div class="row">
    <div>

      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">Links ({{ links.length }})</h6>
        </div>
        <div class="ui-block-content">
          <ul class="widget w-faved-page js-zoom-gallery">
            <li *ngFor="let link of links;">
              <a [routerLink]="['/guest-profile', link.userId]">
                <img src="{{ link?.avatar }}" alt="author">
              </a>
            </li>
            <div style="margin-left: 20px;" *ngIf="links?.length <= 0">
              <p>No links yet</p>
            </div>
          </ul>
        </div>
      </div>

      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">Devfinder Activity</h6>
        </div>
        <div class="ui-block-content devfinder-activity-container">
          <div class="activity">
            <devfinder-activity></devfinder-activity>
          </div>
        </div>
      </div>

      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">Last Photos</h6>
        </div>
        <div class="ui-block-content">
          <ul class="widget w-last-photo js-zoom-gallery">
            <li>
              <a href="../../assets/img/last-photo10-large.jpg">
                <img src="../../assets/img/last-photo10-large.jpg" alt="photo">
              </a>
            </li>
            <li>
              <a href="../../assets/img/last-phot11-large.jpg">
                <img src="../../assets/img/last-phot11-large.jpg" alt="photo">
              </a>
            </li>
            <li>
              <a href="../../assets/img/last-phot12-large.jpg">
                <img src="../../assets/img/last-phot12-large.jpg" alt="photo">
              </a>
            </li>
            <li>
              <a href="../../assets/img/last-phot13-large.jpg">
                <img src="../../assets/img/last-phot13-large.jpg" alt="photo">
              </a>
            </li>
            <li>
              <a href="../../assets/img/last-phot14-large.jpg">
                <img src="../../assets/img/last-phot14-large.jpg" alt="photo">
              </a>
            </li>
            <li>
              <a href="../../assets/img/last-phot15-large.jpg">
                <img src="../../assets/img/last-phot15-large.jpg" alt="photo">
              </a>
            </li>
            <li>
              <a href="../../assets/img/last-phot16-large.jpg">
                <img src="../../assets/img/last-phot16-large.jpg" alt="photo">
              </a>
            </li>
            <li>
              <a href="../../assets/img/last-phot17-large.jpg">
                <img src="../../assets/img/last-phot17-large.jpg" alt="photo">
              </a>
            </li>
            <li>
              <a href="../../assets/img/last-phot18-large.jpg">
                <img src="../../assets/img/last-phot18-large.jpg" alt="photo">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ... end Right Sidebar -->