<div class="ui-block">
  <div class="news-feed-form">
    <div class="status-header-wrapper">
      <div class="wrapper">
        <div class="get-inline">
          <img src="{{ currentUser?.avatar }}" class="avatar" alt="">
        </div>
        <div class="get-inline">
          <h5 class="username">{{ currentUser?.username }}</h5>
        </div>
        <div class="get-inline" style="float:right">
          <div class="three-dots">
            <span class="fa fa-ellipsis-h"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
        <form>
          <textarea class="form-control" [(ngModel)]="feedBody" name="feed-textarea" placeholder="Share what's in your mind?"></textarea>
          <img style="height: 50%;" src="{{ feedImageSrc }}" alt="">
          <div class="add-options-message">
            <input type="file" style="display: none;" #fileInput (change)="fileChangeListener($event)">
            <a (click)="fileInput.click()" class="options-message">
              <span class="fa fa-image feed-options"></span>
            </a>
            <button (click)="postFeed()" class="btnc btnc-filled-orange btnc-sm">Post Status</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>