<ngx-loading [show]="loading" [config]="{
  backdropBackgroundColour: 'rgba(255,255,255,0.5)', backdropBorderRadius: '10px',
  primaryColour: 'rgba(45, 146, 230, 1)', secondaryColour: 'rgba(45, 146, 230, 1)', tertiaryColour: 'rgba(45, 146, 230, 1)'}"></ngx-loading>
<ul class="notification-list chat-message message-list-scroll">

  <li *ngFor="let user of users;" (click)="selectedUser(user)">
    <div class="author-thumb">
      <img [src]="user.avatar" onError="this.src='https://d2x5ku95bkycr3.cloudfront.net/App_Themes/Common/images/profile/0_200.png';" width="35px" height="35px" alt="author">
    </div>
    <div class="notification-event">
      <a class="h6 notification-friend">{{ user?.username }}</a>
      <!-- <span class="chat-message-item">{{ lastMessage.body }}</span>
      <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span> -->
    </div>
    <span class="notification-icon">
      <svg class="olymp-chat---messages-icon">
        <use xlink:href="icons/icons.svg#olymp-chat---messages-icon"></use>
      </svg>
    </span>

    <div class="more">
      <svg class="olymp-three-dots-icon">
        <use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use>
      </svg>
    </div>
  </li>
</ul>