<mat-card class="custom-mat-card">
  <div class="developer-avatar">
    <img src="https://firebasestorage.googleapis.com/v0/b/devfinder-chat.appspot.com/o/avatars%2Famrit%40test.com.jpg?alt=media&token=c39f0c94-82b6-445e-8fef-0aa0e0c87e24"
      class="avatar" alt="">
  </div>
  <div class="developer-info">
    <p class="developer-name">
      Amrit Singh
    </p>
    <p class="developer-location">
      Toronto, Canada
    </p>
    <p class="developer-distance">
      13 Miles Away
    </p>
  </div>
  <div class="developer-finder-tags">
    <span class="badge badge-primary">Angular</span>
    <span class="badge badge-primary">Javascript</span>
    <span class="badge badge-primary">MySql</span>
  </div>
</mat-card>