<mat-card>
  <div class="issue-summary">
    <div class="issue-title">
      <p>How to pass data from a child component to parent component in Angular ?</p>
    </div>
    <div class="issue-tags">
      <ul>
        <li>
          <span class="badge badge-primary">angular</span>
        </li>
        <li>
          <span class="badge badge-primary">typescript</span>
        </li>
        <li>
          <span class="badge badge-primary">css</span>
        </li>
      </ul>
    </div>
    <div class="posting-author">
      <span class="timeposted">a min ago</span>
      <span class="title">by <a>Amrit</a></span>
      <div class="distance">10 Miles Away</div>
    </div>
  </div>
  <div class="issue-ap">
    <div class="answers">
      <span>0</span><br>
      <span>answers</span>
    </div>
    <div class="poll">
      <span>0</span><br>
      <span>poll</span>
    </div>
  </div>
</mat-card>