<!-- Left Sidebar -->
<div class="container">
  <div class="row">
    <div>
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">Profile Intro</h6>
        </div>
        <div class="ui-block-content">
          <ul class="widget w-personal-info item-block">
            <li>
              <span class="title">About Me:</span>
              <br>
              <span class="text">{{ guestProfileIntro?.aboutUser }}</span>
            </li>
            <li>
              <span class="title">{{ guestProfileIntro?.secondCategory }}</span>
              <br>
              <span class="text">{{ guestProfileIntro?.aboutSecondCategory }}</span>
            </li>
          </ul>

          <guest-finder-tags></guest-finder-tags>

          <div class="widget w-socials" style="color: white;">
            <h6 class="title">Other Social Networks:</h6>
            <a class="social-item bg-facebook">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              Facebook
            </a>
            <a class="social-item bg-twitter">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
              LinkedIn
            </a>
            <a class="social-item bg-github">
              <i class="fa fa-github" aria-hidden="true"></i>
              Github
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ... end Left Sidebar -->