<div class="ui-block">
  <div class="ui-block-title">
    <h6 class="title">Link Suggestions</h6>
  </div>

  <ul class="widget w-friend-pages-added notification-list friend-requests scroll-suggestions">
    <li *ngFor="let suggestion of linkSuggestions;" class="inline-items">
      <div class="author-thumb">
        <img src="{{ suggestion?.user?.avatar }}" alt="author">
      </div>
      <div class="notification-event">
        <a class="h6 notification-friend">{{ suggestion?.user?.username }}</a>
        <div class="chat-message-item cut-text">{{ suggestion?.jobTitle }}</div>
      </div>
      <span class="notification-icon">
        <a class="accept-request accept-button" style="color:white;">
          Add
        </a>
      </span>
    </li>
  </ul>

</div>