.message-scroll {
    overflow: auto;
    /* max-height: 420px; */
    height: 311px;
}

textarea {
    height: 30px;
}

.author-icon {
    float:left; 
    margin-right: 5%;
}

/* .message-time {
    margin-right: 80%;
} */