<div *ngIf="mainStep" class="mainRegister">
  <div class="form-top">
    <div class="form-top-left">
      <h3>Sign up now</h3>
      <p>Fill in the form below to get instant access:</p>
    </div>
    <div class="form-top-right">
      <i class="fa fa-pencil"></i>
    </div>
  </div>
  <div class="form-bottom">
    <form  #registerForm="ngForm" role="form" action="" method="post" class="registration-form" >
      <div class="form-group">
        <label class="sr-only" for="form-first-name">User name</label>
        <input type="text" name="form-first-name" [(ngModel)]="username" required placeholder="User name..." class="form-first-name form-control" id="form-first-name" ngModel>
      </div>
      <!-- <div class="form-group">
        <label class="sr-only" for="form-last-name">Last name</label>
        <input type="text" name="form-last-name" [(ngModel)]="lastName" required placeholder="Last name..." class="form-last-name form-control" id="form-last-name" ngModel>
      </div> -->
      <div class="form-group">
        <label class="sr-only" for="form-email">Email</label>
        <input type="text" name="form-email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="email" required placeholder="Email..." class="form-email form-control" id="form-email" ngModel>
      </div>
      <div class="form-group">
        <label class="sr-only" for="form-password">Password</label>
        <input type="password" name="form-password" [(ngModel)]="password" required placeholder="Password..." class="form-password form-control" id="form-password" ngModel> 
      </div>
      <!-- TODO to uncomment this line and delete the finish register -->
      <!-- <button type="submit" (click)="jumpToWorkExperience()" class="btn">Next</button> -->
      <button type="submit" class="btn" [disabled]="registerForm.form.invalid" (click)="finishRegister()">Next!</button>
    </form>
  </div>
</div>

<!-- Work Experience -->
<div *ngIf="workStep" class="workRegister" [@ngIfAnimation]>
  <div class="form-top">
    <div class="form-top-left">
      <h3>Work Experince</h3>
      <p>Lets get your Work Experience</p>
    </div>
    <div class="form-top-right">
      <i class="fa fa-briefcase"></i>
    </div>
  </div>
  <div class="form-bottom">
    <form role="form" action="" method="post" class="registration-form">
      <div class="form-group">
        <label class="sr-only" for="form-work-place">Workplace</label>
        <input type="text" name="form-work-place" placeholder="Enter your Workplace" class="form-work-place form-control" id="form-work-place">
      </div>
      <div class="form-group">
        <label class="sr-only" for="form-last-name">Last name</label>
        <input type="text" name="form-last-name" placeholder="Last name..." class="form-last-name form-control" id="form-last-name">
      </div>
      <div class="form-group">
        <label class="sr-only" for="form-email">Email</label>
        <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
      </div>
      <div class="form-group">
        <label class="sr-only" for="form-about-yourself">About yourself</label>
        <textarea name="form-about-yourself" placeholder="About yourself..." class="form-about-yourself form-control" id="form-about-yourself"></textarea>
      </div>
      <button type="submit" (click)="jumpToEducation()" class="btn">Next</button>
    </form>
  </div>
</div>

<!-- Education -->

<div *ngIf="educationStep" class="educationRegister" [@ngIfAnimation]>
  <div class="form-top">
    <div class="form-top-left">
      <h3>Education</h3>
      <p>Lets get your Education</p>
    </div>
    <div class="form-top-right">
      <i class="fa fa-book"></i>
    </div>
  </div>
  <div class="form-bottom">
    <form role="form" action="" method="post" class="registration-form">
      <div class="form-group">
        <label class="sr-only" for="form-first-name">First name</label>
        <input type="text" name="form-first-name" placeholder="First name..." class="form-first-name form-control" id="form-first-name">
      </div>
      <div class="form-group">
        <label class="sr-only" for="form-last-name">Last name</label>
        <input type="text" name="form-last-name" placeholder="Last name..." class="form-last-name form-control" id="form-last-name">
      </div>
      <div class="form-group">
        <label class="sr-only" for="form-email">Email</label>
        <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
      </div>
      <div class="form-group">
        <label class="sr-only" for="form-about-yourself">About yourself</label>
        <textarea name="form-about-yourself" placeholder="About yourself..." class="form-about-yourself form-control" id="form-about-yourself"></textarea>
      </div>
      <button type="submit" class="btn" (click)="jumpToSkills()">Next!</button>
    </form>
  </div>
</div>

<!-- Skill Section -->
<div *ngIf="skillsStep" class="skillsRegister" [@ngIfAnimation]>
  <div class="form-top">
    <div class="form-top-left">
      <h3>Skills</h3>
      <p>Lets get your skills/expertise</p>
    </div>
    <div class="form-top-right">
      <i class="fa fa-book"></i>
    </div>
  </div>
  <div class="form-bottom">
    <tag-input [ngModel]="items" style="text-transform:uppercase" [displayBy]="'name'" (onAdd)="onItemAdded($event)" theme='bootstrap'></tag-input>
    <button type="submit" class="btn" (click)="jumpToAvatar()">Next!</button>
  </div>
</div>

<!-- Choose Profile Picture  -->
<div *ngIf="avatarStep" class="avatarRegister" [@ngIfAnimation]>
  <div class="form-top">
    <div class="form-top-left">
      <h3>Profile Picture</h3>
      <p>Lets get you an Avatar</p>
    </div>
    <div class="form-top-right">
      <i class="fa fa-book"></i>
    </div>
  </div>
  <div class="form-bottom">
    <div class="wrapper">
      <!-- <img src="../../assets/img/author-page.jpg" alt="author"> -->
      <img [src]="data2.image" onError="this.src='../../assets/img/author-page.jpg';" alt="author">
    </div>
    <div class="select-image">
      <input type="file" (change)="fileChangeListener($event)" /><i class="fa fa-image fa-5x"></i><br/> Select Image <br>
    </div>
    <div class="image-cropper" *ngIf="imageSelected">
      <img-cropper (imageCroppedFile)="croppedImageFile($event)" #cropper (onCrop)="imageCropped($event)" (imageCroppedBase64)="imageCropped($event)"
        [image]="data2" [settings]="cropperSettings2"></img-cropper>
    </div>

    <button type="submit" class="btn" (click)="finishRegister()">Next!</button>
  </div>
</div>

<!-- Finish Register -->
<div *ngIf="finishRegisterStep" class="finishRegister" [@ngIfAnimation]>
  <div class="form-top">
    <div class="form-top-left">
      <h3>Finish</h3>
      <p>Thanks for registering</p>
      <p>Please click to navigate to the page</p>
    </div>
    <div class="form-top-right">
      <i class="fa fa-book"></i>
    </div>
  </div>
  <div class="form-bottom">
    <form role="form" action="" method="post" class="registration-form">
      <button type="submit" (click)="jumpToDashboard()" class="btn">Next!</button>
    </form>
  </div>
</div>