<div *ngIf="mainStep" class="mainRegister">
  <div class="form-top">
    <div class="form-top-left">
      <h3>Sign up now</h3>
      <p>Fill in the form below to get instant access:</p>
    </div>
    <div class="form-top-right">
      <i class="fa fa-pencil"></i>
    </div>
  </div>
  <div class="form-bottom">
    <form #registerForm="ngForm" role="form" action="" method="post" class="registration-form">
      <div class="form-group">
        <label class="sr-only" for="form-first-name">User name</label>
        <input type="text" name="form-first-name" [(ngModel)]="username" required placeholder="User name..." class="form-first-name form-control"
          id="form-first-name" ngModel>
      </div>
      <!-- <div class="form-group">
        <label class="sr-only" for="form-last-name">Last name</label>
        <input type="text" name="form-last-name" [(ngModel)]="lastName" required placeholder="Last name..." class="form-last-name form-control" id="form-last-name" ngModel>
      </div> -->
      <div class="form-group">
        <label class="sr-only" for="form-email">Email</label>
        <input type="text" name="form-email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="email"
          required placeholder="Email..." class="form-email form-control" id="form-email" ngModel>
      </div>
      <div class="form-group">
        <label class="sr-only" for="form-password">Password</label>
        <input type="password" name="form-password" [(ngModel)]="password" required placeholder="Password..." class="form-password form-control"
          id="form-password" ngModel>
      </div>
      <!-- TODO to uncomment this line and delete the finish register -->
      <!-- <button type="submit" (click)="jumpToWorkExperience()" class="btn">Next</button> -->
      <!-- <button type="submit" class="btn" [disabled]="registerForm.form.invalid" (click)="jumpToAvatar()">Next!</button> -->
      <ngx-loading [show]="parseService.signingUp" [config]="{
        backdropBackgroundColour: 'rgba(255,255,255,0.5)', backdropBorderRadius: '10px',
        primaryColour: 'rgba(45, 146, 230, 1)', secondaryColour: 'rgba(45, 146, 230, 1)', tertiaryColour: 'rgba(45, 146, 230, 1)'}"></ngx-loading>

      <button type="submit" *ngIf="!signupComplete" class="btn" [disabled]="registerForm.form.invalid" (click)="signUp()">Sign
        Up</button>
      <button type="submit" *ngIf="signupComplete" class="btn" [disabled]="registerForm.form.invalid" (click)="jumpToAvatar()">Proceed</button>
    </form>
  </div>
</div>

<!-- Choose Profile Picture  -->
<div *ngIf="avatarStep" class="avatarRegister" [@ngIfAnimation]>
  <div class="form-top">
    <div class="form-top-left">
      <h3>Profile Picture</h3>
      <p>Lets get you an Avatar</p>
    </div>
    <div class="form-top-right">
      <i class="fa fa-book"></i>
    </div>
  </div>
  <div class="form-bottom">

    <ngx-loading [show]="firebaseService.uploadingAvatar" [config]="{
        backdropBackgroundColour: 'rgba(255,255,255,0.5)', backdropBorderRadius: '10px',
        primaryColour: 'rgba(45, 146, 230, 1)', secondaryColour: 'rgba(45, 146, 230, 1)', tertiaryColour: 'rgba(45, 146, 230, 1)'}"></ngx-loading>

    <div class="wrapper">
      <!-- <img src="../../assets/img/author-page.jpg" alt="author"> -->
      <img [src]="data2.image" onError="this.src='../../assets/img/author-page.jpg';" alt="author">
    </div>
    <div class="select-image">
      <input type="file" (change)="fileChangeListener($event)" /><i class="fa fa-image fa-5x"></i><br /> Select Image
      <br>
    </div>
    <div class="image-cropper" *ngIf="imageSelected">
      <img-cropper #cropper type="file" (onCrop)="imageCropped($event)"
        (imageCroppedBase64)="imageCropped($event)" [image]="data2" [settings]="cropperSettings2"></img-cropper>
    </div>
    <button type="submit" *ngIf="!firebaseService.avatarUploaded" [disabled]="firebaseService.uploadingAvatar" class="btn"
      (click)="saveImage()">Save</button>
    <button type="submit" *ngIf="firebaseService.avatarUploaded" class="btn" (click)="jumpToWorkExperience()">Next!</button>
  </div>
</div>

<!-- Work Experience -->
<div *ngIf="workStep" class="workRegister" [@ngIfAnimation]>
  <div class="form-top">
    <div class="form-top-left">
      <h3>Work Experince</h3>
      <p>Lets get your Work Experience</p>
    </div>
    <div class="form-top-right">
      <i class="fa fa-briefcase"></i>
    </div>
  </div>
  <div class="form-bottom">
    <form role="form" action="" method="post" class="registration-form">
      <div class="form-group">
        <label class="sr-only" for="form-work-place">Workplace</label>
        <input type="text" name="form-work-place" [(ngModel)]="company" placeholder="Enter your Workplace" class="form-work-place form-control"
          id="form-work-place">
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <input class="form-control" placeholder="Start Date" name="dp" [(ngModel)]="workStartDate" ngbDatepicker
              #workStartDateInput="ngbDatepicker">
            <div class="input-group-append" style="padding: 5px;">
              <span class="fa fa-calendar date-class" (click)="workStartDateInput.toggle()" style="color: #5a5a5a; font-size: 20px;"
                type="button" aria-hidden="true"></span>
            </div>
          </div>
          <div class="col-sm-6">
            <input class="form-control" placeholder="End Date" name="dp" [(ngModel)]="workEndDate" ngbDatepicker
              #workEndDateInput="ngbDatepicker">
            <div class="input-group-append" style="padding: 5px;">
              <!-- <button class="btn btn-default calendar" (click)="d.toggle()" type="button"></button> -->
              <span class="fa fa-calendar date-class" (click)="workEndDateInput.toggle()" style="color: #5a5a5a; font-size: 20px;"
                aria-hidden="true"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="btn-group btn-group-toggle col-sm-4" style="padding-left: -20px;">
          <label class="btn-primary" ngbButtonLabel>
            <input name="workStatus" type="checkbox" ngbButton [(ngModel)]="workStatus"> Current
          </label>
        </div>
        <span style="padding: 5px">Click if this is your current title</span>
      </div>

      <div class="form-group">
        <label class="sr-only" for="job-title">Job Title</label>
        <input type="text" name="workTitle" [(ngModel)]="workTitle" placeholder="Job Title..." class="form-control" id="job-title">
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label class="sr-only" for="city">City</label>
            <input type="text" name="city" placeholder="City" [(ngModel)]="workCity" class="form-control" id="city">
          </div>
          <div class="col-sm-6">
            <label class="sr-only" for="workCountry">Country</label>
            <input type="text" name="workCountry" placeholder="Country" [(ngModel)]="workCountry" class="form-control"
              id="country">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="sr-only" for="form-about-yourself">Description</label>
        <textarea name="form-about-yourself" name="workDescription" [(ngModel)]="workDescription" placeholder="Talk a little bit about your experience..."
          class="form-about-yourself form-control" id="form-about-yourself"></textarea>
      </div>
      <button (click)="jumpToEducation()" class="btn">Next</button>
    </form>
  </div>
</div>

<!-- Education -->

<div *ngIf="educationStep" class="educationRegister" [@ngIfAnimation]>
  <div class="form-top">
    <div class="form-top-left">
      <h3>Education</h3>
      <p>Lets get your Education</p>
    </div>
    <div class="form-top-right">
      <i class="fa fa-book"></i>
    </div>
  </div>
  <div class="form-bottom">
    <form role="form" action="" method="post" class="registration-form">
      <div class="form-group">
        <label class="sr-only" for="school">School</label>
        <input type="text" name="school" [(ngModel)]="school" placeholder="Enter your School" class="form-control" id="form-work-place">
      </div>
      <div class="form-group">
        <label class="sr-only" for="program">Program</label>
        <input type="text" name="program" [(ngModel)]="schoolProgram" placeholder="Enter your Program" class="form-control"
          id="form-work-place">
      </div>
      <div class="row">
        <div class="col-sm-6">
          <input class="form-control" placeholder="Start Date" name="dp" [(ngModel)]="programStartDate" ngbDatepicker
            #programStartDateInput="ngbDatepicker">
          <div class="input-group-append" style="padding: 5px;">
            <span class="fa fa-calendar date-class" (click)="programStartDateInput.toggle()" style="color: #5a5a5a; font-size: 20px;"
              type="button" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-sm-6">
          <input class="form-control" placeholder="End Date" name="dp" [(ngModel)]="programEndDate" ngbDatepicker
            #programEndDateInput="ngbDatepicker">
          <div class="input-group-append" style="padding: 5px;">
            <!-- <button class="btn btn-default calendar" (click)="d.toggle()" type="button"></button> -->
            <span class="fa fa-calendar date-class" (click)="programEndDateInput.toggle()" style="color: #5a5a5a; font-size: 20px;"
              aria-hidden="true"></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="sr-only" for="schoolCity">City</label>
        <input type="text" name="schoolCity" [(ngModel)]="schoolCity" placeholder="Enter the city" class="form-control"
          id="form-work-place">
      </div>
      <div class="form-group">
        <label class="sr-only" for="schoolCountry">Country</label>
        <input type="text" name="schoolCountry" [(ngModel)]="schoolCountry" placeholder="Enter the country" class="form-control"
          id="form-work-place">
      </div>
      <div class="form-group">
        <label class="sr-only" for="programDescription">Program Description</label>
        <textarea name="programDescription" [(ngModel)]="programDescription" placeholder="Write a little bit about your program..."
          class="form-control"></textarea>
      </div>
      <button type="submit" class="btn" (click)="jumpToTags()">Next!</button>
    </form>
  </div>
</div>

<!-- Skill Section -->
<div *ngIf="tagStep" class="tagsRegister" [@ngIfAnimation]>
  <div class="form-top">
    <div class="form-top-left">
      <h3>Tags</h3>
      <p>The tags will help you to be discovered when people are trying to find you.</p>
    </div>
    <div class="form-top-right">
      <i class="fa fa-book"></i>
    </div>
  </div>
  <div class="form-bottom">
    <tag-input [ngModel]="tags" style="text-transform:uppercase" [displayBy]="'name'" (onRemove)="onTagRemoved($event)"
      (onAdd)="onTagAdded($event)" theme='bootstrap'></tag-input>
    <button type="submit" class="btn" [disabled]="tags.length < 4" (click)="jumpToLocation()">Next!</button>
  </div>
</div>

<div *ngIf="locationStep" class="locationRegister" [@ngIfAnimation]>
  <div class="form-top">
    <div class="form-top-left">
      <h3>Location</h3>
      <p>Location is crucial for connections, jobs and interests.</p>
    </div>
    <div class="form-top-right">
      <i class="fa fa-location"></i>
    </div>
  </div>
  <div class="form-bottom">
    <label class="sr-only" for="postalCode">Postal Code</label>
    <input type="text" name="postalCode" [(ngModel)]="postalCode" placeholder="Enter your postal code" class="form-control"
      id="form-work-place">
  </div>
  <button type="submit" class="btn" [disabled]="tags.length < 4" (click)="finishRegister()">Next!</button>
</div>

<!-- Choose Profile Picture  -->
<!-- <div *ngIf="avatarStep" class="avatarRegister" [@ngIfAnimation]>
  <div class="form-top">
    <div class="form-top-left">
      <h3>Profile Picture</h3>
      <p>Lets get you an Avatar</p>
    </div>
    <div class="form-top-right">
      <i class="fa fa-book"></i>
    </div>
  </div>
  <div class="form-bottom">
    <div class="wrapper">
      <img [src]="data2.image" onError="this.src='../../assets/img/author-page.jpg';" alt="author">
    </div>
    <div class="select-image">
      <input type="file" (change)="fileChangeListener($event)" /><i class="fa fa-image fa-5x"></i><br/> Select Image <br>
    </div>
    <div class="image-cropper" *ngIf="imageSelected">
      <img-cropper (imageCroppedFile)="croppedImageFile($event)" #cropper (onCrop)="imageCropped($event)" (imageCroppedBase64)="imageCropped($event)"
        [image]="data2" [settings]="cropperSettings2"></img-cropper>
    </div>

    <button type="submit" class="btn" (click)="finishRegister()">Next!</button>
  </div>
</div> -->

<!-- Finish Register -->
<div *ngIf="finishRegisterStep" class="finishRegister" [@ngIfAnimation]>
  <div class="form-top">
    <div class="form-top-left">
      <h3>Finish</h3>
      <p>Thanks for registering</p>
      <p>We just got some basic information. You can always edit your information from your profile. Please click to
        navigate to the page</p>
    </div>
    <div class="form-top-right">
      <i class="fa fa-book"></i>
    </div>
  </div>
  <div class="form-bottom">
    <form role="form" action="" method="post" class="registration-form">
      <button type="submit" (click)="jumpToDashboard()" class="btn">Next!</button>
    </form>
  </div>
</div>