<div class="ui-block chat-box">
  <div *ngIf="chatService.openChatBox">
    <div class="ui-block-title" style="background-color: #ff5e3a">
      <!-- <span class="icon-status-custom online"></span> -->
      <span class="fa fa-circle" style="color:rgb(0, 158, 61);"></span>
      <a [routerLink]="['guest-profile', selectedUser.userId ]">
        <h6 class="title">{{ selectedUser.username }}</h6>
      </a>
      <a (click)="closeChatBox()" class="close-icon"><span class="fa fa-times-circle"></span></a>
    </div>
    <div #scrollChat class="message-scroll">

      <ngx-loading [show]="loading" [config]="{
          backdropBackgroundColour: 'rgba(255,255,255,0.5)', backdropBorderRadius: '10px',
          primaryColour: 'rgba(45, 146, 230, 1)', secondaryColour: 'rgba(45, 146, 230, 1)', tertiaryColour: 'rgba(45, 146, 230, 1)'}"></ngx-loading>

      <ul *ngIf="!loading" class="notification-list chat-message chat-message-field">
        <li *ngFor="let message of messages;">
          <div class="author-thumb" [ngClass]="{'sender': message.senderId == currentUserId}">
            <img [src]="getAvatar(message)" onError="this.src='https://d2x5ku95bkycr3.cloudfront.net/App_Themes/Common/images/profile/0_200.png';"
              alt="author" class="mCS_img_loaded">
          </div>
          <div class="notification-event" [ngClass]="{'sender': message.senderId == currentUserId}">
            <span class="chat-message-item" [ngStyle]="getStyle(message)">{{ message.body }}</span><br>
            <span class="notification-date" [ngStyle]="{'float': message.senderId == currentUserId ? 'left' : 'right' }"><time
                class="entry-date updated" datetime="2004-07-24T18:18">{{ message.timeSent }}</time></span>
          </div>
        </li>
        <!-- 
        <li>
          <div class="author-thumb sender">
            <img src="../../assets/img/author-page.jpg" alt="author" class="mCS_img_loaded">
          </div>
          <div class="notification-event sender">
            <span class="chat-message-item">Don’t worry Mathilda!</span>
            <span class="notification-date" style="float: left;"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday
                at
                8:29pm</time></span>
          </div>
        </li>

        <li>
          <div class="author-thumb">
            <img src="../../assets/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
          </div>
          <div class="notification-event">
            <span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be
              handling
              the gifts and Jake’s gonna get the drinks</span>
            <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at
                8:10pm</time></span>
          </div>
        </li> -->
      </ul>
    </div>

    <form #chatForm="ngForm" (keyup.enter)="sendMessage($event)">

      <div class="form-group label-floating is-empty">
        <!-- <label class="control-label">Press enter to post...</label>
      <textarea class="form-control" placeholder=""></textarea> -->
        <input type="text" name="messageBody" class="form-control" [(ngModel)]="messageBody" placeholder="Press enter to post...">
      </div>

    </form>
  </div>


</div>