<div>
  <div class="title-bar">
    <p class="title">Top Issues</p>
    <button class="btnc btnc-square btnc-sm btnc-filled-orange" [routerLink]="['../open-issue']">Open Issue</button>
  </div>
  <br>
  <br>
  <hr>
  <div class="list-wrapper">
    <div class="issue-list">
      <div *ngFor="let issue of issueCardArray | paginate: { itemsPerPage: 12, currentPage: p }">
        <issue-card [issueCard]="issue"></issue-card>
      </div>
    </div>
  </div>
</div>
<pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>