<navbar></navbar>
<div class="header-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="top-header">
          <div class="top-header-thumb">
            <img src="https://wallpapercave.com/wp/Ou1L18s.jpg" alt="nature">
          </div>
          <button class="btnc btnc-square btnc-md btnc-filled-blue">Add Link</button>
          <guest-profile-option></guest-profile-option>
          <guest-profile-thumb [guestUser]="guestUser"></guest-profile-thumb>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ... end Top Header -->

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm-3 col-md-3 col-xl-3">
      <guest-profile-intro></guest-profile-intro>
    </div>
    <div *ngIf="showFeed" class="col-md-6 col-sm-6 col-md-6 col-xl-6">
      <guest-profile-feed [guestUser]="guestUser"></guest-profile-feed>
    </div>
    <div *ngIf="showRightSidebar" class="col-md-3 col-sm-3 col-md-3 col-xl-3">
      <guest-profile-right-sidebar></guest-profile-right-sidebar>
    </div>
    <div class="col-lg-9 col-sm-9 col md-9 col-xl-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>