<div class="login">
  <div class="form-top">
    <div class="form-top-left">
      <h3>Login</h3>
        <p>Login below to explore <strong>"For Developers & By Developers"</strong></p>
    </div>
    <div class="form-top-right">
      <i class="fa fa-pencil"></i>
    </div>
  </div>
  <div class="form-bottom">
    <form #loginForm="ngForm" role="form" action="" method="post" class="registration-form">
      <div class="form-group">
        <label class="sr-only" for="form-email-username">Email/Usermame</label>
          <input type="text" name="form-first-name" [(ngModel)]="email" required placeholder="Email/Username" class="form-first-name form-control" id="form-first-name" ngModel>
        </div>
        <div class="form-group">
          <label class="sr-only" for="form-email">Password</label>
          <input type="text" name="form-email" [(ngModel)]="password" required placeholder="Password" class="form-email form-control" id="form-email" ngModel>
        </div>

        <ngx-loading [show]="loading" [config]="{
          backdropBackgroundColour: 'rgba(255,255,255,0.5)', backdropBorderRadius: '10px',
          primaryColour: 'rgba(45, 146, 230, 1)', secondaryColour: 'rgba(45, 146, 230, 1)', tertiaryColour: 'rgba(45, 146, 230, 1)'}"></ngx-loading>
          
        <button type="submit" [disabled]="loginForm.form.invalid" (click)="login()" class="btn">Login</button>
    </form>
  </div>
</div>