.user-name {
    font-size: 11px;
    font-weight: 500;
    padding-left: 8px;
    color: rgb(145, 145, 145);
    overflow:hidden; 
    /* white-space:nowrap;  */
    text-overflow: ellipsis;
    font-family: 'Roboto';
}

li {
    border-bottom: 0.5px solid rgba(145, 145, 145, 0.171);
}

li:hover {
    background-color: rgba(238, 238, 238, 0.527);
}

.online {
    background-color: #32CD32; 
}

.offline {
    background-color: #ff4f60;
}