.edit-profile-education-icon :hover {
    cursor: pointer;
    opacity: 50%;
    color: rgb(99, 99, 99);
}

.edit-profile-education-icon {
    float: right;
    margin-top: -40px;
}

.add-profile-education-icon :hover {
    cursor: pointer;
    opacity: 50%;
    color: rgb(99, 99, 99);
}

.add-profile-education-icon {
    float: right;
    margin-right: 20px;
}

.ui-block-title {
    padding: 15px 10px 10px 20px;
}

.btn-save {
    float: right;
    margin-top: -50px;
}

.close-add-education-form :hover{
    cursor: pointer;
    opacity: 50%;
    color: rgb(99, 99, 99);
}

.close-add-education-form {
    float: right;
    margin-top: -40px;
}