<li>
  <div class="author-thumb">
    <img src="../../assets/img/avatar55-sm.jpg" alt="author">
  </div>
  <div class="notification-event">
    <a class="h6 notification-friend">Tamara Romanoff</a>
    <!-- <span class="chat-message-item">Mutual Friend: Sarah Hetfield</span> -->
  </div>
  <span class="notification-icon">
    <a class="accept-request">
      Accept
    </a>
    <a class="accept-request request-del">
      Decline
    </a>

  </span>
</li>

<li class="accepted">
  <div class="author-thumb">
    <img src="../../assets/img/avatar57-sm.jpg" alt="author">
  </div>
  <div class="notification-event">
    You and
    <a class="h6 notification-friend">Mary Jane Stark</a> just became friends. Write on
    <a class="notification-link">her wall</a>.
  </div>
</li>