#floating-panel {
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    font-family: 'Roboto','sans-serif';
    left: 25%;
    line-height: 30px;
    padding: 5px;
    padding-left: 10px;
    text-align: center;
    top: 10px;
    margin-top: 100px;
    z-index: 5;
  }

  .label {
    box-sizing:border-box;
    background: #05F24C;
    box-shadow: 2px 2px 4px #333;
    border:5px solid #346FF7;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    -webkit-animation: pulse 1s ease 1s 3;
    -moz-animation: pulse 1s ease 1s 3;
    animation: pulse 1s ease 1s 3;
  }

  .custom-marker {
    height: 80px;
    width: 80px;
    position: absolute;
    margin-top: -65px;
    z-index: -1;
    margin-left: -25px;
  }

  .custom-marker-avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-top: -76px;
    margin-left: -1px;
    /* border-radius: 500px; */
    border: 3px solid #f7f7f7;
  }

  .title-bar .title {
    font-weight: 500;
    display: inline-block;
    font-size: 24px;
    float: left;
    color: rgb(46, 46, 46);
    font-family: 'Lato', sans-serif;
}

.title-bar .description {
    /* float: left; */
    position: absolute;
    font-size: 14px;
    color: rgb(96, 96, 96);
    font-family: 'Lato', sans-serif;
    margin-top: 30px;
    margin-left: 5px;
}

ngui-map {
  height: 600px;
  width: 980px;
}

hr {
  width: 980px;
}

.search-box {
  width: 100%;
}

.sidenav{
  position: absolute;
  padding-left: 10px;
  padding-top: 15px;
  width: 40%;
  top: 181px;
}

.sidenav .info-card {
  margin-top: -10px;
}

.box-shadow {
  -webkit-box-shadow: 0 0 8px rgba(65, 65, 65, 0.781);
        box-shadow: 0 0 8px rgb(65, 65, 65,  0.781);
}

.result-container {
  margin-top: 2px;
  text-align: center;
}

.results-text {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(116, 116, 116);
}

.left-sidebar {
  position: fixed;
  height: 100vh;
  float: left;
  width: 200px;
  margin-left: -80px;
  margin-top: 50px;
  padding: 30px;
  box-sizing: border-box;
  border-right: .5px solid rgba(90, 90, 90, 0.548);
  background-color: white;
}

.left-sidebar ul {
  list-style: none;
  padding: 5px;
  color:rgb(66, 66, 66);
}

.left-sidebar ol {
  list-style: none;
  padding: 5px;
  color:rgb(66, 66, 66);
}

.left-sidebar ul li {
  padding: 5px;
  cursor: pointer;
}

li:focus {
  outline: none;
}

a {
  text-decoration: none;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
  color: rgb(46, 46, 46);
  font-weight: 500;
  font-size: 12.5px;
  padding-left: 4px;
  transition: all .4s ease;
 -webkit-transition: all .4s ease;
}

a:hover {
  cursor: pointer;
  font-weight: bold;
  color: black;
  transition: all .4s ease;
 -webkit-transition: all .4s ease;
}

.active-ul-li {
  background-color: rgb(235, 235, 235);
  width: 165px;
  transition: all .4s ease;
  font-weight: 500;
 -webkit-transition: all .4s ease;
  border-right: 3px solid #38a9ff;
}

.active-ol-li {
  background-color: rgb(235, 235, 235);
  width: 155px;
  transition: all .4s ease;
  font-weight: 500;
 -webkit-transition: all .4s ease;
  border-right: 3px solid #38a9ff;
}

.main-content-container {
  margin-top: 80px;
  width: 87%;
  margin-left: -120px;
}