<!-- <ngui-map center="{{locationService.currentLocation.lat}}, {{locationService.currentLocation.long}}" ></ngui-map> -->
<h1>Heatmap Layer</h1>
<ngui-map zoom="13" center="{{locationService.currentLocation.lat}}, {{locationService.currentLocation.long}}">
  <div id="floating-panel">
    <button (click)="toggleHeatmap()">Toggle Heatmap</button>
    <button (click)="changeGradient()">Change gradient</button>
    <button (click)="changeRadius()">Change radius</button>
    <button (click)="changeOpacity()">Change opacity</button>
  </div>
  <custom-marker position="{{locationService.currentLocation.lat}}, {{locationService.currentLocation.long}}">
    <div>
      <img class="custom-marker" src="https://cdn1.iconfinder.com/data/icons/social-messaging-ui-color/254000/66-512.png"
        alt="">
      <img class="custom-marker-avatar" src="https://firebasestorage.googleapis.com/v0/b/devfinder-chat.appspot.com/o/avatars%2Famrit%40test.com.jpg?alt=media&token=e4ed43de-3070-475b-b80f-ffa7a1cdae9d" />
    </div>
  </custom-marker>
  <marker position="{{locationService.currentLocation.lat}}, {{locationService.currentLocation.long}}"></marker>
  <heatmap-layer [data]="points"></heatmap-layer>
</ngui-map>
<button (click)="loadRandomPoints()">Load Random Points</button>
<br />
<button (click)="addPoint()">Add Point</button>