<navbar></navbar>
<div class="header-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="top-header">
          <div class="top-header-thumb">
            <img src="../../assets/img/devfinder-portal.jpg" alt="nature">
          </div>
          <button (click)="setLocation()" class="btnc btnc-square btnc-sm btnc-filled-grey set-location">Set Location<i style="padding: 5px;" class="fa fa-caret-down"></i></button>
          <profile-option></profile-option>
          <profile-thumb></profile-thumb>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ... end Top Header -->

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm-3 col-md-3 col-xl-3">
      <profile-intro></profile-intro>
    </div>
    <div *ngIf="showFeed" class="col-md-6 col-sm-6 col-md-6 col-xl-6">
      <profile-feed></profile-feed>
    </div>
    <div *ngIf="showRightSidebar" class="col-md-3 col-sm-3 col-md-3 col-xl-3">
      <profile-right-sidebar></profile-right-sidebar>
    </div>
    <div *ngIf="showRouterOutlet" class="col-lg-9 col-sm-9 col md-9 col-xl-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>