<navbar></navbar>
<div class="header-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="top-header">
          <div class="top-header-thumb">
            <img src="../../assets/img/nature.jpg" alt="nature">
          </div>
          <profile-option></profile-option>
          <profile-thumb></profile-thumb>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ... end Top Header -->

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm-3 col-md-3 col-xl-3">
      <profile-intro></profile-intro>
    </div>
    <div class="col-md-6 col-sm-6 col-md-6 col-xl-6">
      <profile-feed></profile-feed>
    </div>
    <div class="col-md-3 col-sm-3 col-md-3 col-xl-3">
      <profile-right-sidebar></profile-right-sidebar>
    </div>
  </div>
</div>