<!-- Main Content -->
<div class="container">
  <div class="row">
    <div>
      <div id="newsfeed-items-grid">

        <div *ngFor="let feed of guestFeed;" class="ui-block">
          <ngx-loading [show]="loadingFeed" [config]="{
              backdropBackgroundColour: 'rgba(255,255,255,0.5)', backdropBorderRadius: '10px',
              primaryColour: 'rgba(45, 146, 230, 1)', secondaryColour: 'rgba(45, 146, 230, 1)', tertiaryColour: 'rgba(45, 146, 230, 1)'}"></ngx-loading>

          <article class="hentry post">

            <div class="post__author author vcard inline-items">
              <img src="{{ feed?.user?.avatar }}" onError="this.src='https://d2x5ku95bkycr3.cloudfront.net/App_Themes/Common/images/profile/0_200.png';"
                alt="author">

              <div class="author-date">
                <a class="h6 post__author-name fn">{{ feed?.user?.username }}</a>
                <div class="post__date">
                  <time class="published">
                    {{ feed?.timeStamp | timeAgo}}
                  </time>
                </div>
              </div>
            </div>

            <p>{{ feed?.feedBody }}</p>

            <div class="post-additional-info inline-items">

              <a class="post-add-icon inline-items">
                <span (click)="likeFeed(feed)" class="fa fa-thumbs-up"></span>
                <span>{{ feed?.like?.length }}</span>
              </a>

              <ul class="friends-harmonic">
                <li *ngFor="let like of feed?.like;">
                  <a>
                    <img style="margin-top: -6px;" src="{{ like?.liker?.avatar }}" alt="friend">
                  </a>
                </li>
              </ul>

              <div class="names-people-likes" [innerHTML]="getLikerNameAndCount(feed)">
              </div>


              <div class="comments-shared">
                <a class="post-add-icon inline-items">
                  <span class="fa fa-comment"></span>
                  <span>{{ feed?.comment?.length }}</span>
                </a>

                <a class="post-add-icon inline-items">
                  <span class="fa fa-share"></span>
                  <span></span>
                </a>
              </div>
            </div>
          </article>

          <ul class="comments-list">
            <li *ngFor="let comment of feed.comment;">
              <div class="post__author author vcard inline-items">
                <img src="{{ comment?.commentor?.avatar }}" alt="author">

                <div class="author-date">
                  <a class="h6 post__author-name fn">{{ comment?.commentor?.username }}</a>
                  <div class="post__date">
                    <time class="published">
                      {{ comment?.timeStamp | timeAgo }}
                    </time>
                  </div>
                </div>

                <div *ngIf="comment?.commentor?.userId === userService?.currentUser?.userId" class="more">
                  <span class="fa fa-ellipsis-h"></span>
                  <ul class="more-dropdown">
                    <li style="padding: 2px; border-bottom: none; background-color: white;">
                      <a (click)="deleteComment(feed)">Delete Comment</a>
                    </li>
                  </ul>
                </div>

              </div>

              <p>{{ comment.commentBody }}</p>
            </li>
          </ul>

          <!-- <a class="more-comments">View more comments
                <span>+</span>
              </a> -->
          <form class="comment-form inline-items">

            <div class="post__author author vcard inline-items">
              <img src="{{ userService?.currentUser?.avatar }}" alt="author">

              <div class="form-group with-icon-right ">
                <textarea class="form-control" name="comment-box" [(ngModel)]="commentBody" (keyup.enter)="postComment(feed)"
                  placeholder="Write a comment..."></textarea>
              </div>
            </div>

          </form>

        </div>

        <div class="ui-block">
          <article class="hentry post video">

            <div class="post__author author vcard inline-items">
              <img src="../../assets/img/author-page.jpg" alt="author">

              <div class="author-date">
                <a class="h6 post__author-name fn" href="02-ProfilePage.html">Amrit Singh</a> shared a
                <a>link</a>
                <div class="post__date">
                  <time class="published" datetime="2017-03-24T18:18">
                    7 hours ago
                  </time>
                </div>
              </div>

              <div class="more">
                <span class="edit-icon fa fa-ellipsis-h clickable-edit-icons"></span>
                <ul class="more-dropdown">
                  <li>
                    <a>Edit Post</a>
                  </li>
                  <li>
                    <a>Delete Post</a>
                  </li>
                  <li>
                    <a>Turn Off Notifications</a>
                  </li>
                  <li>
                    <a>Select as Featured</a>
                  </li>
                </ul>
              </div>

            </div>

            <p>If someone missed it, check out the new song by System of a Revenge! I thinks they are going back to
              their roots...</p>

            <div class="post-video">
              <div class="video-thumb">
                <img src="../../assets/img/video5.jpg" alt="photo">
                <a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video">
                  <svg class="olymp-play-icon">
                    <use xlink:href="icons/icons.svg#olymp-play-icon"></use>
                  </svg>
                </a>
              </div>

              <div class="video-content">
                <a class="h4 title">System of a Revenge - Nothing Else Matters (LIVE)</a>
                <p>Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempo incididunt ut labore..</p>
                <a class="link-site">YOUTUBE.COM</a>
              </div>
            </div>

            <div class="post-additional-info inline-items">

              <a class="post-add-icon inline-items">
                <svg class="olymp-heart-icon">
                  <use xlink:href="icons/icons.svg#olymp-heart-icon"></use>
                </svg>
                <span>15</span>
              </a>

              <ul class="friends-harmonic">
                <li>
                  <a>
                    <img src="../../assets/img/friend-harmonic9.jpg" alt="friend">
                  </a>
                </li>
                <li>
                  <a>
                    <img src="../../assets/img/friend-harmonic10.jpg" alt="friend">
                  </a>
                </li>
                <li>
                  <a>
                    <img src="../../assets/img/friend-harmonic7.jpg" alt="friend">
                  </a>
                </li>
                <li>
                  <a>
                    <img src="../../assets/img/friend-harmonic8.jpg" alt="friend">
                  </a>
                </li>
                <li>
                  <a>
                    <img src="../../assets/img/friend-harmonic11.jpg" alt="friend">
                  </a>
                </li>
              </ul>

              <div class="names-people-likes">
                <a>Jenny</a>,
                <a>Robert</a> and
                <br>13 more liked this
              </div>

              <div class="comments-shared">
                <a class="post-add-icon inline-items">
                  <svg class="olymp-speech-balloon-icon">
                    <use xlink:href="icons/icons.svg#olymp-speech-balloon-icon"></use>
                  </svg>
                  <span>1</span>
                </a>

                <a class="post-add-icon inline-items">
                  <svg class="olymp-share-icon">
                    <use xlink:href="icons/icons.svg#olymp-share-icon"></use>
                  </svg>
                  <span>16</span>
                </a>
              </div>


            </div>

          </article>
        </div>

      </div>

      <a id="load-more-button" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid">
        <svg class="olymp-three-dots-icon">
          <use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use>
        </svg>
      </a>
    </div>

    <!-- ... end Main Content -->

  </div>
</div>