<!-- <app-feed></app-feed> -->
<!-- <app-profile></app-profile> -->


<!-- Fixed Sidebar Right -->

<!-- ... end Fixed Sidebar Right -->

<!-- Fixed Sidebar Right -->

<!-- ... end Fixed Sidebar Right -->

<navbar></navbar>

<!-- ... end Responsive Header -->

<div class="header-spacer"></div>


<div class="container">
	<div class="row">

		<!-- Main Content -->

		<div class="col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-xs-12">

			
					<post-feed-box [currentUser]="currentUser"></post-feed-box>
			
			<!-- FEED  -->
			<div id="newsfeed-items-grid">

				<dashboard-feed [feedList]="feedList"></dashboard-feed>


				<div class="ui-block">
					<article class="hentry post video">

						<div class="post__author author vcard inline-items">
							<img src="../../assets/img/avatar7-sm.jpg" alt="author">

							<div class="author-date">
								<a class="h6 post__author-name fn">Marina Valentine</a> shared a <a>link</a>
								<div class="post__date">
									<time class="published" datetime="2004-07-24T18:18">
										March 4 at 2:05pm
									</time>
								</div>
							</div>

							<div class="more"><svg class="olymp-three-dots-icon">
									<use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use>
								</svg>
								<ul class="more-dropdown">
									<li>
										<a>Edit Post</a>
									</li>
									<li>
										<a>Delete Post</a>
									</li>
									<li>
										<a>Turn Off Notifications</a>
									</li>
									<li>
										<a>Select as Featured</a>
									</li>
								</ul>
							</div>

						</div>

						<p>Hey <a>Cindi</a>, you should really check out this new song by Iron Maid. The next time they come to the city
							we should totally go!</p>

						<div class="post-video">
							<div class="video-thumb">
								<img src="../../assets/img/video-youtube1.jpg" alt="photo">
								<a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video">
									<svg class="olymp-play-icon">
										<use xlink:href="icons/icons.svg#olymp-play-icon"></use>
									</svg>
								</a>
							</div>

							<div class="video-content">
								<a class="h4 title">Iron Maid - ChillGroves</a>
								<p>Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempor incididunt
									ut labore et dolore magna aliqua...
								</p>
								<a class="link-site">YOUTUBE.COM</a>
							</div>
						</div>

						<div class="post-additional-info inline-items">

							<a class="post-add-icon inline-items">
								<svg class="olymp-heart-icon">
									<use xlink:href="icons/icons.svg#olymp-heart-icon"></use>
								</svg>
								<span>18</span>
							</a>

							<ul class="friends-harmonic">
								<li>
									<a>
										<img src="../../assets/img/friend-harmonic9.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a>
										<img src="../../assets/img/friend-harmonic10.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a>
										<img src="../../assets/img/friend-harmonic7.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a>
										<img src="../../assets/img/friend-harmonic8.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a>
										<img src="../../assets/img/friend-harmonic11.jpg" alt="friend">
									</a>
								</li>
							</ul>

							<div class="names-people-likes">
								<a>Jenny</a>, <a>Robert</a> and
								<br>18 more liked this
							</div>

							<div class="comments-shared">
								<a class="post-add-icon inline-items">
									<svg class="olymp-speech-balloon-icon">
										<use xlink:href="icons/icons.svg#olymp-speech-balloon-icon"></use>
									</svg>

									<span>0</span>
								</a>

								<a class="post-add-icon inline-items">
									<svg class="olymp-share-icon">
										<use xlink:href="icons/icons.svg#olymp-share-icon"></use>
									</svg>

									<span>16</span>
								</a>
							</div>


						</div>

						<div class="control-block-button post-control-button">

							<a class="btn btn-control">
								<svg class="olymp-like-post-icon">
									<use xlink:href="icons/icons.svg#olymp-like-post-icon"></use>
								</svg>
							</a>

							<a class="btn btn-control">
								<svg class="olymp-comments-post-icon">
									<use xlink:href="icons/icons.svg#olymp-comments-post-icon"></use>
								</svg>
							</a>

							<a class="btn btn-control">
								<svg class="olymp-share-icon">
									<use xlink:href="icons/icons.svg#olymp-share-icon"></use>
								</svg>
							</a>

						</div>

					</article>
				</div>

			</div>
		</div>

		<!-- ... end Main Content -->


		<!-- Left Sidebar -->

		<aside class="col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-xs-12">
			<div class="ui-block" style="width: 17%; position: fixed;">
				<div class="profile-thumb-holder">
					<div class="friend-item">
						<div class="friend-header-thumb">
							<img src="../../../assets/img/devfinder-portal.jpg" alt="friend">
						</div>

						<div class="friend-item-content">
							<div class="friend-avatar">
								<div class="author-thumb">
									<img src="{{ currentUser?.avatar }}" onError="this.src='https://d2x5ku95bkycr3.cloudfront.net/App_Themes/Common/images/profile/0_200.png';"
									 alt="author">
								</div>
								<div class="author-content">
									<a href="#" class="h5 author-name">{{ currentUser?.username }}</a>
									<div class="country">Toronto, ON</div>
								</div>
							</div>

							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="friend-about" style="text-align: center; border-bottom: 0.5px solid #e6ecf5;">
											<div class="h5 author-name">
												<h5 style="font-size: 16px;">Links: {{ links?.length }}</h5>
											</div>
										</div>
										<ul class="widget w-personal-info item-block">
											<li *ngIf="finderTags?.length == 0">
												<p>Please set your tags in your profile.</p>
											</li>
											<li *ngIf="finderTags?.length != 0">
												<span *ngFor="let tag of finderTags?.tags" class="badge badge-primary">{{ tag }}</span>
											</li>
										</ul>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<!-- <div class="widget w-wethear">
					<a class="more"><svg class="olymp-three-dots-icon">
							<use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use>
						</svg></a>

					<div class="wethear-now inline-items">
						<div class="temperature-sensor">64°</div>
						<div class="max-min-temperature">
							<span>58°</span>
							<span>76°</span>
						</div>

						<svg class="olymp-weather-partly-sunny-icon">
							<use xlink:href="icons/icons-weather.svg#olymp-weather-partly-sunny-icon"></use>
						</svg>
					</div>

					<div class="wethear-now-description">
						<div class="climate">Partly Sunny</div>
						<span>Real Feel: <span>67°</span></span>
						<span>Chance of Rain: <span>49%</span></span>
					</div>

					<ul class="weekly-forecast">

						<li>
							<div class="day">sun</div>
							<svg class="olymp-weather-sunny-icon">
								<use xlink:href="icons/icons-weather.svg#olymp-weather-sunny-icon"></use>
							</svg>

							<div class="temperature-sensor-day">60°</div>
						</li>

						<li>
							<div class="day">mon</div>
							<svg class="olymp-weather-partly-sunny-icon">
								<use xlink:href="icons/icons-weather.svg#olymp-weather-partly-sunny-icon"></use>
							</svg>
							<div class="temperature-sensor-day">58°</div>
						</li>

						<li>
							<div class="day">tue</div>
							<svg class="olymp-weather-cloudy-icon">
								<use xlink:href="icons/icons-weather.svg#olymp-weather-cloudy-icon"></use>
							</svg>

							<div class="temperature-sensor-day">67°</div>
						</li>

						<li>
							<div class="day">wed</div>
							<svg class="olymp-weather-rain-icon">
								<use xlink:href="icons/icons-weather.svg#olymp-weather-rain-icon"></use>
							</svg>

							<div class="temperature-sensor-day">70°</div>
						</li>

						<li>
							<div class="day">thu</div>
							<svg class="olymp-weather-storm-icon">
								<use xlink:href="icons/icons-weather.svg#olymp-weather-storm-icon"></use>
							</svg>

							<div class="temperature-sensor-day">58°</div>
						</li>

						<li>
							<div class="day">fri</div>
							<svg class="olymp-weather-snow-icon">
								<use xlink:href="icons/icons-weather.svg#olymp-weather-snow-icon"></use>
							</svg>

							<div class="temperature-sensor-day">68°</div>
						</li>

						<li>
							<div class="day">sat</div>

							<svg class="olymp-weather-wind-icon-header">
								<use xlink:href="icons/icons-weather.svg#olymp-weather-wind-icon-header"></use>
							</svg>

							<div class="temperature-sensor-day">65°</div>
						</li>

					</ul>

					<div class="date-and-place">
						<h5 class="date">Saturday, March 26th</h5>
						<div class="place">San Francisco, CA</div>
					</div>

				</div> -->
			</div>
		</aside>

		<!-- ... end Left Sidebar -->


		<!-- Right Sidebar -->

		<aside class="col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-xs-12">

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">DevFinder Activity Feed</h6>
				</div>
				<div style="height: 500px; overflow-y: scroll; width: 253.5px;">
					<devfinder-activity-feed></devfinder-activity-feed>
				</div>
			</div>
			
			<link-suggestions></link-suggestions>

		</aside>

		<!-- ... end Right Sidebar -->

	</div>
</div>


<!-- Window-popup Update Header Photo -->

<div class="modal fade" id="update-header-photo">
	<div class="modal-dialog ui-block window-popup update-header-photo">
		<a class="close icon-close" data-dismiss="modal" aria-label="Close">
			<svg class="olymp-close-icon">
				<use xlink:href="icons/icons.svg#olymp-close-icon"></use>
			</svg>
		</a>

		<div class="ui-block-title">
			<h6 class="title">Update Header Photo</h6>
		</div>

		<a class="upload-photo-item">
			<svg class="olymp-computer-icon">
				<use xlink:href="icons/icons.svg#olymp-computer-icon"></use>
			</svg>

			<h6>Upload Photo</h6>
			<span>Browse your computer.</span>
		</a>

		<a class="upload-photo-item" data-toggle="modal" data-target="#choose-from-my-photo">

			<svg class="olymp-photos-icon">
				<use xlink:href="icons/icons.svg#olymp-photos-icon"></use>
			</svg>

			<h6>Choose from My Photos</h6>
			<span>Choose from your uploaded photos</span>
		</a>
	</div>
</div>


<!-- ... end Window-popup Update Header Photo -->


<!-- Window-popup Choose from my Photo -->
<div class="modal fade" id="choose-from-my-photo">
	<div class="modal-dialog ui-block window-popup choose-from-my-photo">
		<a class="close icon-close" data-dismiss="modal" aria-label="Close">
			<svg class="olymp-close-icon">
				<use xlink:href="icons/icons.svg#olymp-close-icon"></use>
			</svg>
		</a>

		<div class="ui-block-title">
			<h6 class="title">Choose from My Photos</h6>

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-expanded="true">
						<svg class="olymp-photos-icon">
							<use xlink:href="icons/icons.svg#olymp-photos-icon"></use>
						</svg>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-expanded="false">
						<svg class="olymp-albums-icon">
							<use xlink:href="icons/icons.svg#olymp-albums-icon"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>


		<div class="ui-block-content">
			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">

					<div class="choose-photo-item" data-mh="choose-item">
						<div class="radio">
							<label class="custom-radio">
								<img src="../../assets/img/choose-photo1.jpg" alt="photo">
								<input type="radio" name="optionsRadios">
							</label>
						</div>
					</div>
					<div class="choose-photo-item" data-mh="choose-item">
						<div class="radio">
							<label class="custom-radio">
								<img src="../../assets/img/choose-photo2.jpg" alt="photo">
								<input type="radio" name="optionsRadios">
							</label>
						</div>
					</div>
					<div class="choose-photo-item" data-mh="choose-item">
						<div class="radio">
							<label class="custom-radio">
								<img src="../../assets/img/choose-photo3.jpg" alt="photo">
								<input type="radio" name="optionsRadios">
							</label>
						</div>
					</div>

					<div class="choose-photo-item" data-mh="choose-item">
						<div class="radio">
							<label class="custom-radio">
								<img src="../../assets/img/choose-photo4.jpg" alt="photo">
								<input type="radio" name="optionsRadios">
							</label>
						</div>
					</div>
					<div class="choose-photo-item" data-mh="choose-item">
						<div class="radio">
							<label class="custom-radio">
								<img src="../../assets/img/choose-photo5.jpg" alt="photo">
								<input type="radio" name="optionsRadios">
							</label>
						</div>
					</div>
					<div class="choose-photo-item" data-mh="choose-item">
						<div class="radio">
							<label class="custom-radio">
								<img src="../../assets/img/choose-photo6.jpg" alt="photo">
								<input type="radio" name="optionsRadios">
							</label>
						</div>
					</div>

					<div class="choose-photo-item" data-mh="choose-item">
						<div class="radio">
							<label class="custom-radio">
								<img src="../../assets/img/choose-photo7.jpg" alt="photo">
								<input type="radio" name="optionsRadios">
							</label>
						</div>
					</div>
					<div class="choose-photo-item" data-mh="choose-item">
						<div class="radio">
							<label class="custom-radio">
								<img src="../../assets/img/choose-photo8.jpg" alt="photo">
								<input type="radio" name="optionsRadios">
							</label>
						</div>
					</div>
					<div class="choose-photo-item" data-mh="choose-item">
						<div class="radio">
							<label class="custom-radio">
								<img src="../../assets/img/choose-photo9.jpg" alt="photo">
								<input type="radio" name="optionsRadios">
							</label>
						</div>
					</div>


					<a class="btn btn-secondary btn-lg btn--half-width">Cancel</a>
					<a class="btn btn-primary btn-lg btn--half-width">Confirm Photo</a>

				</div>
				<div class="tab-pane" id="profile" role="tabpanel" aria-expanded="false">

					<div class="choose-photo-item" data-mh="choose-item">
						<figure>
							<img src="../../assets/img/choose-photo10.jpg" alt="photo">
							<figcaption>
								<a>South America Vacations</a>
								<span>Last Added: 2 hours ago</span>
							</figcaption>
						</figure>
					</div>
					<div class="choose-photo-item" data-mh="choose-item">
						<figure>
							<img src="../../assets/img/choose-photo11.jpg" alt="photo">
							<figcaption>
								<a>Photoshoot Summer 2016</a>
								<span>Last Added: 5 weeks ago</span>
							</figcaption>
						</figure>
					</div>
					<div class="choose-photo-item" data-mh="choose-item">
						<figure>
							<img src="../../assets/img/choose-photo12.jpg" alt="photo">
							<figcaption>
								<a>Amazing Street Food</a>
								<span>Last Added: 6 mins ago</span>
							</figcaption>
						</figure>
					</div>

					<div class="choose-photo-item" data-mh="choose-item">
						<figure>
							<img src="../../assets/img/choose-photo13.jpg" alt="photo">
							<figcaption>
								<a>Graffity & Street Art</a>
								<span>Last Added: 16 hours ago</span>
							</figcaption>
						</figure>
					</div>
					<div class="choose-photo-item" data-mh="choose-item">
						<figure>
							<img src="../../assets/img/choose-photo14.jpg" alt="photo">
							<figcaption>
								<a>Amazing Landscapes</a>
								<span>Last Added: 13 mins ago</span>
							</figcaption>
						</figure>
					</div>
					<div class="choose-photo-item" data-mh="choose-item">
						<figure>
							<img src="../../assets/img/choose-photo15.jpg" alt="photo">
							<figcaption>
								<a>The Majestic Canyon</a>
								<span>Last Added: 57 mins ago</span>
							</figcaption>
						</figure>
					</div>


					<a class="btn btn-secondary btn-lg btn--half-width">Cancel</a>
					<a class="btn btn-primary btn-lg disabled btn--half-width">Confirm Photo</a>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- ... end Window-popup Choose from my Photo -->

<!-- Window-popup-CHAT for responsive min-width: 768px -->

<div class="ui-block popup-chat popup-chat-responsive">
	<div class="ui-block-title">
		<span class="icon-status online"></span>
		<h6 class="title">Chat</h6>
		<div class="more">
			<svg class="olymp-three-dots-icon">
				<use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use>
			</svg>
			<svg class="olymp-little-delete js-chat-open">
				<use xlink:href="icons/icons.svg#olymp-little-delete"></use>
			</svg>
		</div>
	</div>
	<div class="mCustomScrollbar">
		<ul class="notification-list chat-message chat-message-field">
			<li>
				<div class="author-thumb">
					<img src="../../assets/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
				</div>
				<div class="notification-event">
					<span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the
						gifts and Jake’s gonna get the drinks</span>
					<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
				</div>
			</li>

			<li>
				<div class="author-thumb">
					<img src="../../assets/img/author-page.jpg" alt="author" class="mCS_img_loaded">
				</div>
				<div class="notification-event">
					<span class="chat-message-item">Don’t worry Mathilda!</span>
					<span class="chat-message-item">I already bought everything</span>
					<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:29pm</time></span>
				</div>
			</li>

			<li>
				<div class="author-thumb">
					<img src="../../assets/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
				</div>
				<div class="notification-event">
					<span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the
						gifts and Jake’s gonna get the drinks</span>
					<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
				</div>
			</li>
		</ul>
	</div>

	<form>

		<div class="form-group label-floating is-empty">
			<label class="control-label">Press enter to post...</label>
			<textarea class="form-control" placeholder=""></textarea>
			<div class="add-options-message">
				<a class="options-message">
					<svg class="olymp-computer-icon">
						<use xlink:href="icons/icons.svg#olymp-computer-icon"></use>
					</svg>
				</a>
				<div class="options-message smile-block">

					<svg class="olymp-happy-sticker-icon">
						<use xlink:href="icons/icons.svg#olymp-happy-sticker-icon"></use>
					</svg>

					<ul class="more-dropdown more-with-triangle triangle-bottom-right">
						<li>
							<a>
								<img src="../../assets/img/icon-chat1.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat2.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat3.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat4.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat5.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat6.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat7.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat8.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat9.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat10.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat11.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat12.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat13.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat14.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat15.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat16.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat17.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat18.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat19.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat20.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat21.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat22.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat23.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat24.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat25.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat26.png" alt="icon">
							</a>
						</li>
						<li>
							<a>
								<img src="../../assets/img/icon-chat27.png" alt="icon">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</form>


</div>