<div class="top-header-author">
  <!-- <ngx-loading [show]="userService.loadingUser" [config]="{
    backdropBackgroundColour: 'rgba(255,255,255,0.5)', backdropBorderRadius: '10px',
    primaryColour: 'rgba(45, 146, 230, 1)', secondaryColour: 'rgba(45, 146, 230, 1)', tertiaryColour: 'rgba(45, 146, 230, 1)'}"></ngx-loading> -->
  <div class="author-thumb">
    <img src="{{ guestUser?.avatar }}" onError="this.src='https://d2x5ku95bkycr3.cloudfront.net/App_Themes/Common/images/profile/0_200.png';" alt="author">
  </div>
  <div class="author-content">
    <a class="h4 author-name">{{ guestUser?.username }}</a>
    <div class="country">Toronto, ON</div>
  </div>
</div>