<div class="title-bar">
  <p class="title">How to pass data from a parent to a child component in Angular 2 using @Input()?</p>
  <button class="btnc btnc-square btnc-sm btnc-filled-orange" [routerLink]="['../open-issue']">Open Issue</button>
</div>
<br>
<br>
<hr>
<div class="question">
  <div class="post-text">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
      a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.</p>
  </div>
  <div class="post-tags">
    <ul>
      <li>
        <span class="badge badge-primary">angular</span>
      </li>
      <li>
        <span class="badge badge-primary">typescript</span>
      </li>
      <li>
        <span class="badge badge-primary">css</span>
      </li>
    </ul>
  </div>
  <div class="posting-author">
    <span class="timeposted">a hour ago</span>
    <span class="title">by <a>Amrit</a></span>
    <div class="distance">10 Miles Away</div>
  </div>
</div>
<br>
<!-- Using the same CSS for answers too -->
<div class="answers">
  <div class="title-bar-answer">
    <p class="title">Answer 1</p>
  </div>
  <br>
  <hr>
  <div class="question answers">
    <div class="post-text">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
    </div>
    <br>
    <div class="post-text">
      <pre><code highlight [textContent]="dummyCode"></code></pre>
    </div>
    <div class="posting-author">
      <span class="timeposted">a min ago</span>
      <span class="title">by <a>Mann</a></span>
      <div class="distance">1 Mile Away</div>
    </div>
  </div>
</div>
<br>
<br>

<hr>
<div class="title-bar-answer">
  <p class="title">Post Answer</p>
</div>
<br>
<div class="post-answer-box">
  <div class="container tools">
    <div class="code" (click)="activateCodeMode()" [ngClass]=" codeActivated === true ? 'code-active' : ''">
      <span class="fa fa-code"></span>
    </div>
  </div>
  <textarea [(ngModel)]="answer" name="post-answer" id="post-answer" cols="100" rows="10"></textarea>
</div>
<div *ngIf="codeActivated" class="post-answer-code">
  <textarea #codeTextArea name="post-answer-code" [(ngModel)]="answerCode" id="post-answer-code" cols="45" rows="10"></textarea>
</div>
<br>
<br>
<div class="post-answer-helper">
  <p [innerHTML]="answer" style="white-space:pre-wrap;"></p>
</div>
<pre style="margin-bottom: 15px; width: 97.5%"><code highlight [textContent]="answerCode"></code></pre>
<button style="margin-bottom: 50px" class="btnc btnc-square btnc-sm btnc-filled-blue post-answer-button">Post Solution</button>