<div class="title-bar">
  <p class="title">Question Title</p>
  <button class="btnc btnc-square btnc-sm btnc-filled-orange">Open Issue</button>
</div>
<br>
<br>
<hr>
<div class="question">
  <div class="post-text">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
      a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.</p>
  </div>
  <div class="post-tags">
    <ul>
      <li>
        <span class="badge badge-primary">angular</span>
      </li>
      <li>
        <span class="badge badge-primary">typescript</span>
      </li>
      <li>
        <span class="badge badge-primary">css</span>
      </li>
    </ul>
  </div>
</div>
<hr>
<div class="title-bar-answer">
  <p class="title">Post Answer</p>
</div>
<br>
<div class="post-answer-box">
  <textarea name="post-answer" id="post-answer" cols="100" rows="10"></textarea>
</div>
