/* For Title Bar of Component */

.title-bar {
  padding-bottom: 10px;
}

.title-bar p {
    font-weight: 500;
    display: inline-block;
    font-size: 20px;
    float: left;
    color: rgb(59, 59, 59);
    font-family: 'Lato', sans-serif;
    width: 80%;
  }

.title-bar-answer p {
  font-weight: 400;
    font-size: 18px;
    float: left;
    color: rgb(46, 46, 46);
    font-family: 'Lato', sans-serif;
}

.post-tags {
  display: inline-block
}

.posting-author {
  display: inline-block;
  float: right;
}

.posting-author .timeposted {
  font-size: 12px;
  display: inline-block;
  color: rgb(143, 143, 143);
}

.posting-author .title {
  display: inline-block;
  font-size: 12px;
  color: rgb(143, 143, 143);
}

.posting-author .title a {
  cursor: pointer;
  font-weight: 500;
  color: #ff723ab2;
}

.posting-author .title a:hover {
  font-weight: 600;
}

.posting-author .distance {
  display: inline-block;
  border-left: 1.5px solid #38a9ff;
  font-size: 12px;
  padding-left: 2px;
  color: rgb(143, 143, 143);
}

.post-answer-box {
  padding-top: 10px;
  position: absolute;
}

.post-answer-box textarea {
  min-height: 150px;
  margin-top: 30px;
  width: 100%;
}

.post-answer-code {
  z-index: 999;
  position: absolute;
  margin-top: 50px;
}

.post-answer-code textarea {
  min-height: 136.5px;
  margin-left: 100.5%;
  border-color: Transparent; 
  overflow: auto;    
  resize: none;
}
  
.tools {
  background-color: lightgrey;
  height: 40px;
  margin-bottom: 2px;
  border-radius: 4px;
  position: absolute;
}

.tools .code {
  margin-top: 4px;
  font-size: 22px;
  width: 10px;
  font-weight: bold;
}

.tools .code:hover {
  color: #ff763a;
  border-color: #ff763a;
}

.code-active {
  color: #ff763a;
  border-color: #ff763a;
}

.post-answer-helper {
  background-color: lightgrey;
  width: 97.5%;
  min-height: 20px;
  margin-top: 150px;
  padding: 5px;
  margin-bottom: 10px;
}

.post-answer-button {
  float: right;
  margin-right: 18px;
}

.answers {
  margin-top: 10px;
  margin-bottom: 40px;
}

.title-bar button {
    display: inline-block;
    margin-top: 5px;
    float: right;
  }

  .post-tags {
    margin-left: -40px;
    display: inline-block;
  }

  ul {
    list-style: none;
  }

  ul li {
    display: inline-block;
  }
  
  .btnc {
    color: #fff;
    background-color: transparent;
    outline: 0;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .btnc-square {
    border: 0;
  }
  
  .btnc-round {
    border: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
  }
  
  .btnc-lg {
    padding: 10px 37.5px 10px 37.5px;
    font-size: 1.2em;
  }
  
  .btnc-md {
    padding: 7.5px 30px 7.5px 30px;
    font-size: 1em;
  }
  
  .btnc-sm {
    padding: 6px 22.5px 6px 22.5px;
    font-size: 0.8em;
  }
  
  .btnc-filled-blue {
    background-color: #38a9ff;
  }
  .btnc-filled-blue:hover {
    background-color: rgb(24, 91, 136);
  }
  .btnc-filled-blue:active {
    -moz-box-shadow: inset 0 0 100px #196090;
    -webkit-box-shadow: inset 0 0 100px #196090;
    box-shadow: inset 0 0 100px #196090;
  }
  
  .btnc-filled-orange {
    background-color: #ff723a;
  }
  
  .btnc-filled-orange:hover {
    background-color: #be562c;
  }
  
  .btnc-ghost-blue {
    border: 2px solid #3498db;
  }
  .btnc-ghost-blue:hover {
    background-color: #3498db;
  }
  .btnc-ghost-blue:active {
    background-color: #217dbb;
  }

  .badge {
    font-size: 12px;
    padding: 5px;
    background-color:rgba(45, 146, 230, 0.95);
    margin: 2.5px;
  }