/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather|Montserrat|Open+Sans|Poppins|Raleway|Roboto');
body {
    width: 100%;
}

.clickable-edit-icons {
    cursor: pointer;
    opacity: 50%;
    color: rgb(99, 99, 99);
}

.btn-primary {
    background-color: #19b9e7
}