<div class="home-body landing-page">
  <div class="content-bg-wrap">
      <div class="content-bg"></div>
  </div>
  <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!-- Navbar brand contains the logo -->
        <a class="navbar-brand">Bootstrap Registration Form Template</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="top-navbar-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <span class="li-text">
              Put some text or
            </span>
            <div>
              <strong>links</strong>
            </div>
            <span class="li-text">
              here, or some icons:
            </span>
            <span class="li-social">
              <div>
                <i class="fa fa-facebook"></i>
              </div>
              <div>
                <i class="fa fa-twitter"></i>
              </div>
              <div>
                <i class="fa fa-envelope"></i>
              </div>
              <div>
                <i class="fa fa-skype"></i>
              </div>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Top content -->
  <div class="top-content">
    <div class="inner-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 text slogan">
            <span class="quotes"><img src="../../assets/img/blockquote.png" width="50px" height="40px" alt=""></span>
            <h2>
              <strong>For Developers, By <span style="color:white; font-size: 50px; text-decoration: underline; text-decoration-color: #0036ac">Developers</span></strong>
            </h2>
            
            <div class="description">
              <p>
                Welcome to <strong style="font-size: 18px;">DevFinder</strong>! The very First Social Media Platform to offer what you need! 
              </p>
            </div>
            <div class="top-big-link">
              <a class="btn btn-link-1" [routerLink]="[{outlets: {'form-outlet': ['login']}}]">Login</a>
              <a class="btn btn-link-2" [routerLink]="[{outlets: {'form-outlet': ['register']}}]">Register</a>
            </div>
          </div>
          <div class="col-sm-5 form-box">
            <router-outlet name="form-outlet"></router-outlet>
            <!-- <app-login></app-login> -->
            <!-- <app-sign-up></app-sign-up> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>