<div class="title-bar">
  <p class="title">Tags</p><br>
  <p class="description">Tags are used as a keyword to categorize the questions and answers based on the similarity.</p>
</div>
<br>
<br>
<hr>
<div class="tags-wrapper">
  <div class="grid-tags">
    <div class="row">
      <div *ngFor="let dv of devFinderTagsArray;" class="col-lg-3">
        <devfinder-question-tag [devfinderTag]="dv"></devfinder-question-tag>
      </div><br>
      <!-- <div class="col-lg-3">

      </div>
      <div class="col-lg-3">

      </div>
      <div class="col-lg-3">

      </div> -->
    </div>
  </div>
</div>