/* For Title Bar of Component */

.title-bar .title {
    font-weight: 500;
    display: inline-block;
    font-size: 24px;
    float: left;
    color: rgb(46, 46, 46);
    font-family: 'Lato', sans-serif;
}

.title-bar .description {
    /* float: left; */
    position: absolute;
    font-size: 14px;
    color: rgb(96, 96, 96);
    font-family: 'Lato', sans-serif;
    margin-top: 30px;
    margin-left: 5px;
}

.title-bar button {
    display: inline-block;
    margin-top: 5px;
    float: right;
}

.badge {
    font-size: 12px;
    padding: 5px;
    background-color:rgba(45, 146, 230, 0.95);
    margin: 2.5px;
}

.custom-mat-card {
    padding: 10px;
    margin-right: -10px;
    /* margin-left: -10px; */
}

.tag-description p {
    font-size: 11px;
    color: rgb(116, 116, 116);
    font-family: 'Lato', sans-serif;
    margin-left: 5px;
    margin-top: 5px;
}

.open-issues {
    margin-top: -10px;
    margin-bottom: -10px;
}

.open-issues p {
    display: inline-block;
    font-size: 11px;
    color: rgb(116, 116, 116);
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-left: 5px;
}

.open-issues .count {
    display: inline-block;
    font-size: 10px;
    color: rgb(116, 116, 116);
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    border-right: 1px solid #ff723ab2;
    padding-right: 10px;
}

.open-issues .dev-count {
    display: inline-block;
    font-size: 10px;
    color: rgb(116, 116, 116);
    font-weight: 600;
    padding-left: 5px;
}