<div class="title-bar">
  <p class="title">Tags</p><br>
  <p class="description">Tags are used as a keyword to categorize the questions and answers based on the similarity.</p>
</div>
<br>
<br>
<hr>
<div class="tags-wrapper">
  <div class="grid-tags">
    <div class="row">
      <div class="col-lg-3">
        <mat-card class="custom-mat-card">
          <div class="card-wrapper">
            <span class="badge badge-primary">Angular</span>
            <div class="tag-description">
              <p>Angular is a platform that makes it easy to build applications with the web.</p>
            </div>
            <div class="open-issues">
              <p>Open Issues: </p>
              <span class="count">24</span>
              <span class="dev-count">Dev x 5</span>
            </div>
          </div>
          <!-- <div class="card-wrapper">
              <div class="tag-name">
                <span class="badge badge-primary">angular</span>
              </div>
              <br>
              <div class="tag-description">
                <p>Tags are used as a keyword to categorize the questions and answers based on the similarity.</p>
              </div>
            </div> -->
        </mat-card>
      </div>
      <div class="col-lg-3">

      </div>
      <div class="col-lg-3">

      </div>
      <div class="col-lg-3">

      </div>
    </div>
  </div>
</div>