<ul class="widget w-personal-info item-block">
  <ngx-loading [show]="loadingTags" [config]="{
      backdropBackgroundColour: 'rgba(255,255,255,0.5)', backdropBorderRadius: '10px',
      primaryColour: 'rgba(45, 146, 230, 1)', secondaryColour: 'rgba(45, 146, 230, 1)', tertiaryColour: 'rgba(45, 146, 230, 1)'}"></ngx-loading>
  <li>
    <span class="title">Finder Tags:</span>
    <br>
    <p *ngIf="guestFinderTags?.userId == null">The person hasn't set the tags yet.</p>
    <!-- <span class="text">{{userProfile?.aboutUser}}</span> -->
  </li>
  <li>
    <span *ngFor="let tag of guestFinderTags?.tags" class="badge badge-primary">{{ tag }}</span>
  </li>
</ul>